<html>
    <head><meta charset="utf-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    </head>
    <body>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <div class="container">
            <h5>Types of filters</h5>
            <p>Click on the button to filter. All filters are optional. </p>
            
            <h6>Selected segment: {{selected_segment}}</h6>
            <h6>Selected months for comparison: {{month1}} and {{month2}}</h6>
            <form action="" method="POST">
                <div id="segment" >
                    <select name = "segment">
                        <option value="" selected="selected" >All</option>
                        <option value="Appraiser/Researcher ">Appraiser/Researcher </option>
                        <option value="Appraiser">Appraiser</option>
                        <option value="Energy">Energy</option>
                        <option value="Facilities Services">Facilities Services</option>
                        <option value="Investor/Developer">Investor/Developer</option>
                        <option value="Investor/Developer - Professional">Investor/Developer - Professional</option>
                        <option value="Investor/Developer - Hobbyist">Investor/Developer - Hobbyist</option>
                        <option value="Leasing Broker">Leasing Broker</option>
                        <option value="Lender/Debt Broker">Lender/Debt Broker</option>
                        <option value="Other">Other</option>
                        <option value="Research">Research</option>
                        <option value="Sales Broker">Sales Broker</option>
                        <option value="Tax Services">Tax Services</option>
                        <option value="Debt Broker">Debt Broker</option>
                        <option value="Property Manager">Property Manager</option>
                        <option value="Lender - Underwriting">Lender - Underwriting</option>
                    </select>
                
                <div id="events" >
                    <select name = "choose_events">
                        <option value="all_events">All Events</option>
                        <option value="essential_events">Only Essential Events</option>
                    </select>
                </div>

                <div id="comparison" >
                    <p>Compare between months:</p>
                    <input type="text" name="month1" placeholder="2018-01-01"> and 
                    <input type="text" name="month2" placeholder="2018-04-01">   
                </div>
                
                <input type="submit" value="Submit">

            </form>  
        </div>
        <p>hi</p>    
        <div class="main">
            <div class="collapse">
                <p>hihihi</p>
            </div>
            <div class="collapse">
                <p>bbb</p>
            </div>
        </div>
        <!--
            <div id="3780ef7a-07f5-4c59-9f6b-eb699da741ba" style="height: 100%; width: 100%;" class="plotly-graph-div"></div><script type="text/javascript">window.PLOTLYENV=window.PLOTLYENV || {};window.PLOTLYENV.BASE_URL="https://plot.ly";Plotly.newPlot("3780ef7a-07f5-4c59-9f6b-eb699da741ba", [{"type": "scatter", "x": ["2018-04", "2018-03", "2018-02", "2018-01", "2017-12", "2017-11", "2017-10", "2017-09"], "y": ["10.93%", "19.39%", "23.73%", "35.44%", "19.06%", "40.45%", "21.21%", "8.04%"]}], {"title": "Export_percentile_table() (Utilization Over Time)"}, {"showLink": false, "linkText": "Export to plot.ly"})</script>
        -->
        <div id="60a7b702-65b0-4ab4-b572-249b8593b90e" style="height: 100%; width: 100%;" class="plotly-graph-div"></div><script type="text/javascript">window.PLOTLYENV=window.PLOTLYENV || {};window.PLOTLYENV.BASE_URL="https://plot.ly";Plotly.newPlot("60a7b702-65b0-4ab4-b572-249b8593b90e", [{"type": "bar", "x": ["2017-09", "2017-10", "2017-11", "2017-12", "2018-01", "2018-02", "2018-03", "2018-04"], "y": [66, 96, 80, 68, 149, 103, 138, 170], "name": 0, "textposition": "auto"}, {"type": "bar", "x": ["2017-09", "2017-10", "2017-11", "2017-12", "2018-01", "2018-02", "2018-03", "2018-04"], "y": [4, 6, 8, 4, 10, 6, 7, 10], "name": 20, "textposition": "auto"}, {"type": "bar", "x": ["2017-09", "2017-10", "2017-11", "2017-12", "2018-01", "2018-02", "2018-03", "2018-04"], "y": [2, 1, 1, 1, 10, 7, 12, 5], "name": 40, "textposition": "auto"}, {"type": "bar", "x": ["2017-09", "2017-10", "2017-11", "2017-12", "2018-01", "2018-02", "2018-03", "2018-04"], "y": [2, 3, 2, 4, 2, 3, 7, 2], "name": 60, "textposition": "auto"}, {"type": "bar", "x": ["2017-09", "2017-10", "2017-11", "2017-12", "2018-01", "2018-02", "2018-03", "2018-04"], "y": [6, 12, 14, 16, 29, 16, 29, 9], "name": 80, "textposition": "auto"}], {"barmode": "stack", "title": "Breakdown of Export Utilization Over Time (Sales Broker)", "xaxis": {"title": "Month"}, "yaxis": {"title": "Number of Users"}}, {"showLink": false, "linkText": "Export to plot.ly"})</script>
        <div id="009618b0-ada1-47bf-b662-78fd53bd38cd" style="height: 100%; width: 100%;" class="plotly-graph-div"></div><script type="text/javascript">window.PLOTLYENV=window.PLOTLYENV || {};window.PLOTLYENV.BASE_URL="https://plot.ly";Plotly.newPlot("009618b0-ada1-47bf-b662-78fd53bd38cd", [{"type": "bar", "x": ["2017-09", "2017-10", "2017-11", "2017-12", "2018-01", "2018-02", "2018-03", "2018-04"], "y": [67, 98, 81, 68, 151, 103, 138, 169], "name": 0, "textposition": "auto"}, {"type": "bar", "x": ["2017-09", "2017-10", "2017-11", "2017-12", "2018-01", "2018-02", "2018-03", "2018-04"], "y": [4, 6, 8, 4, 10, 6, 7, 9], "name": 20, "textposition": "auto"}, {"type": "bar", "x": ["2017-09", "2017-10", "2017-11", "2017-12", "2018-01", "2018-02", "2018-03", "2018-04"], "y": [2, 1, 1, 1, 10, 7, 12, 5], "name": 40, "textposition": "auto"}, {"type": "bar", "x": ["2017-09", "2017-10", "2017-11", "2017-12", "2018-01", "2018-02", "2018-03", "2018-04"], "y": [2, 3, 2, 4, 2, 3, 7, 2], "name": 60, "textposition": "auto"}, {"type": "bar", "x": ["2017-09", "2017-10", "2017-11", "2017-12", "2018-01", "2018-02", "2018-03", "2018-04"], "y": [6, 12, 14, 16, 29, 16, 30, 6], "name": 80, "textposition": "auto"}], {"barmode": "stack", "title": "Breakdown of Export Utilization Over Time (Sales Broker)", "xaxis": {"title": "Month"}, "yaxis": {"title": "Number of Users"}}, {"showLink": false, "linkText": "Export to plot.ly"})</script>
        <div class="mySlides" id="8a8ef6ce-ad3b-4156-b9ed-6dcd454409cc" style="height: 100%; width: 100%;" class="plotly-graph-div"></div><script type="text/javascript">window.PLOTLYENV=window.PLOTLYENV || {};window.PLOTLYENV.BASE_URL="https://plot.ly";Plotly.newPlot("8a8ef6ce-ad3b-4156-b9ed-6dcd454409cc", [{"type": "bar", "x": ["2017-10", "2017-11", "2017-12", "2018-01", "2018-02", "2018-03", "2018-04", 0], "y": [181, 240, 233, 208, 376, 372, 527, 212], "name": 0, "textposition": "auto"}, {"type": "bar", "x": ["2017-10", "2017-11", "2017-12", "2018-01", "2018-02", "2018-03", "2018-04", 0], "y": [7, 19, 23, 19, 33, 39, 31, 10], "name": 20, "textposition": "auto"}, {"type": "bar", "x": ["2017-10", "2017-11", "2017-12", "2018-01", "2018-02", "2018-03", "2018-04", 0], "y": [4, 6, 7, 4, 14, 26, 23, 3], "name": 40, "textposition": "auto"}, {"type": "bar", "x": ["2017-10", "2017-11", "2017-12", "2018-01", "2018-02", "2018-03", "2018-04", 0], "y": [4, 5, 5, 6, 13, 5, 10,2], "name": 60, "textposition": "auto"}, {"type": "bar", "x": ["2017-10", "2017-11", "2017-12", "2018-01", "2018-02", "2018-03", "2018-04", 0], "y": [3, 4, 5,2, 13, 7, 5, 2], "name": 80, "textposition": "auto"}], {"barmode": "stack", "title": "Breakdown of Export_consolidate_by_buckets(Sales Broker) Utilization Over TimeExport_consolidate_by_buckets(Sales Broker)", "xaxis": {"title": "Month"}, "yaxis": {"title": "Number of Users"}}, {"showLink": false, "linkText": "Export to plot.ly"})</script>
        <div class="mySlides" id="4f0d1ab7-9511-41b0-a9c9-adbc3872c67f" style="height: 100%; width: 100%;" class="plotly-graph-div"></div><script type="text/javascript">window.PLOTLYENV=window.PLOTLYENV || {};window.PLOTLYENV.BASE_URL="https://plot.ly";Plotly.newPlot("4f0d1ab7-9511-41b0-a9c9-adbc3872c67f", [{"type": "bar", "x": ["2017-09", "2017-10", "2017-11", "2017-12", "2018-01", "2018-02", "2018-03", "2018-04"], "y": [183, 241, 234, 209, 377, 372, 521, 312], "name": 0, "textposition": "auto"}, {"type": "bar", "x": ["2017-09", "2017-10", "2017-11", "2017-12", "2018-01", "2018-02", "2018-03", "2018-04"], "y": [7, 19, 23, 19, 33, 39, 28, 16], "name": 20, "textposition": "auto"}, {"type": "bar", "x": ["2017-09", "2017-10", "2017-11", "2017-12", "2018-01", "2018-02", "2018-03", "2018-04"], "y": [4, 6, 7, 4, 14, 26, 21, 5], "name": 40, "textposition": "auto"}, {"type": "bar", "x": ["2017-09", "2017-10", "2017-11", "2017-12", "2018-01", "2018-02", "2018-03", "2018-04"], "y": [4, 5, 5, 6, 13, 5, 14, 4], "name": 60, "textposition": "auto"}, {"type": "bar", "x": ["2017-09", "2017-10", "2017-11", "2017-12", "2018-01", "2018-02", "2018-03", "2018-04"], "y": [3, 4, 5, 2, 13, 7, 6, 2], "name": 80, "textposition": "auto"}], {"barmode": "stack", "title": "Breakdown of Export Utilization Over Time ()", "xaxis": {"title": "Month"}, "yaxis": {"title": "Number of Users"}}, {"showLink": false, "linkText": "Export to plot.ly"})</script>

        <div class="mySlides" id="8371a97f-fe96-4d91-b7c0-63c05ccf9b91" style="height: 100%; width: 100%;" class="plotly-graph-div"></div><script type="text/javascript">window.PLOTLYENV=window.PLOTLYENV || {};window.PLOTLYENV.BASE_URL="https://plot.ly";Plotly.newPlot("8371a97f-fe96-4d91-b7c0-63c05ccf9b91", [{"type": "bar", "x": ["2017-09", "2017-10", "2017-11", "2017-12", "2018-01", "2018-02", "2018-03", "2018-04"], "y": [183, 241, 234, 209, 377, 372, 521, 313], "name": 0, "textposition": "auto"}, {"type": "bar", "x": ["2017-09", "2017-10", "2017-11", "2017-12", "2018-01", "2018-02", "2018-03", "2018-04"], "y": [7, 19, 23, 19, 33, 39, 28, 16], "name": 20, "textposition": "auto"}, {"type": "bar", "x": ["2017-09", "2017-10", "2017-11", "2017-12", "2018-01", "2018-02", "2018-03", "2018-04"], "y": [4, 6, 7, 4, 14, 26, 21, 5], "name": 40, "textposition": "auto"}, {"type": "bar", "x": ["2017-09", "2017-10", "2017-11", "2017-12", "2018-01", "2018-02", "2018-03", "2018-04"], "y": [4, 5, 5, 6, 13, 5, 14, 4], "name": 60, "textposition": "auto"}, {"type": "bar", "x": ["2017-09", "2017-10", "2017-11", "2017-12", "2018-01", "2018-02", "2018-03", "2018-04"], "y": [3, 4, 5, 2, 13, 7, 6, 2], "name": 80, "textposition": "auto"}], {"barmode": "stack", "title": "Breakdown of Export Utilization Over Time ()", "xaxis": {"title": "Month"}, "yaxis": {"title": "Number of Users"}}, {"showLink": false, "linkText": "Export to plot.ly"})</script>

        <div class="mySlides"  id="2c432334-247d-4171-b903-86ebfbcc41d5" style="height: 100%; width: 100%;" class="plotly-graph-div"></div><script type="text/javascript">window.PLOTLYENV=window.PLOTLYENV || {};window.PLOTLYENV.BASE_URL="https://plot.ly";Plotly.newPlot("2c432334-247d-4171-b903-86ebfbcc41d5", [{"type": "bar", "x": ["2017-09", "2017-10", "2017-11", "2017-12", "2018-01", "2018-02", "2018-03", "2018-04"], "y": [183, 241, 234, 209, 377, 372, 521, 314], "name": 0, "textposition": "auto"}, {"type": "bar", "x": ["2017-09", "2017-10", "2017-11", "2017-12", "2018-01", "2018-02", "2018-03", "2018-04"], "y": [7, 19, 23, 19, 33, 39, 28, 16], "name": 20, "textposition": "auto"}, {"type": "bar", "x": ["2017-09", "2017-10", "2017-11", "2017-12", "2018-01", "2018-02", "2018-03", "2018-04"], "y": [4, 6, 7, 4, 14, 26, 21, 5], "name": 40, "textposition": "auto"}, {"type": "bar", "x": ["2017-09", "2017-10", "2017-11", "2017-12", "2018-01", "2018-02", "2018-03", "2018-04"], "y": [4, 5, 5, 6, 13, 5, 14, 4], "name": 60, "textposition": "auto"}, {"type": "bar", "x": ["2017-09", "2017-10", "2017-11", "2017-12", "2018-01", "2018-02", "2018-03", "2018-04"], "y": [13, 24, 37, 34, 77, 58, 75, 20], "name": 80, "textposition": "auto"}], {"barmode": "stack", "title": "Breakdown of Export Utilization Over Time ()", "xaxis": {"title": "Month"}, "yaxis": {"title": "Number of Users"}}, {"showLink": false, "linkText": "Export to plot.ly"})</script>
        <div class="mySlides" id="f38cabcc-bb57-408c-b80d-71c0de202216" style="height: 100%; width: 100%;" class="plotly-graph-div"></div><script type="text/javascript">window.PLOTLYENV=window.PLOTLYENV || {};window.PLOTLYENV.BASE_URL="https://plot.ly";Plotly.newPlot("f38cabcc-bb57-408c-b80d-71c0de202216", [{"type": "scatter", "x": [0.0, 0.0, 0.0, 0.245, 0.0, 0.0, 0.208, 0.0, 0.0, 0.0, 0.0, 0.0, 0.019, 0.415, 0.0, 0.0, 0.0, 0.0, 0.264, 0.623, 0.491, 0.792, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.66,0.0, 0.0, 0.113, 0.0, 0.283, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], "y": [0, 0, 0, 4.6923076923076925, 0, 0, 1.7272727272727273, 0, 0, 0, 0, 0, 1.0, 28.90909090909091, 0, 0, 0, 0, 9.285714285714286, 11.696969696969697, 14.961538461538462, 23.023809523809526, 0, 0, 0, 0, 0, 0, 0, 45.91428571428571, 0, 0, 21.666666666666668, 0, 3.2, 0, 0, 0, 0, 0, 0], "mode": "markers+text", "text": ["addToList", "listCreated", "searchCharac", "searchAsset", "searchDebt", "searchLocation", "searchOwnership", "searchSales", "viewBuilding", "viewSales", "viewTax", "viewDebt", "property_tab_view_ownership", "advancedSearch (all except searchownership)", "ownershipPortfolioSearch", "Viewed parcel page", "address search", "bulkContactsRequest", "bulkLabel", "property_tab_view_files", "property_tab_view_notes", "all_generic_searches", "location_smart_search", "targeted_property_search", "export", "findComps", "findMailingAdd", "importData", "importFile", "interactiveMapClick", "label property", "mapDrawClick", "map marker click", "map satellite view", "map update result when moved click", "parcelResultsListView", "printPDF", "propertyOwnershipRequest", "submit search", "summary card click-through", "tableView"], "textposition": "bottom", "name": "2017-06-01", "visible": true}, {"type": "scatter", "x": [0.0, 0.0, 0.0, 0.225, 0.0, 0.0, 0.294, 0.0, 0.0, 0.0, 0.0, 0.0, 0.01, 0.647, 0.0, 0.0, 0.0, 0.0, 0.324, 0.676, 0.706, 0.882, 0.0, 0.0, 0.0,0.0, 0.0, 0.029, 0.0, 0.745, 0.0, 0.0, 0.235, 0.0, 0.363, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], "y": [0, 0, 0, 4.086956521739131, 0, 0, 2.033333333333333, 0, 0, 0, 0, 0, 3.0, 31.348484848484848, 0, 0, 0, 0, 4.848484848484849, 13.666666666666666, 27.22222222222222, 24.4, 0, 0, 0, 0, 0, 1.6666666666666667, 0, 66.65789473684211, 0, 0, 14.5, 0, 9.837837837837839, 0, 0, 0, 0, 0, 0], "mode": "markers+text", "text": ["addToList", "listCreated", "searchCharac", "searchAsset", "searchDebt", "searchLocation", "searchOwnership", "searchSales", "viewBuilding", "viewSales", "viewTax", "viewDebt", "property_tab_view_ownership", "advancedSearch (allexcept searchownership)", "ownershipPortfolioSearch", "Viewed parcel page", "address search", "bulkContactsRequest", "bulkLabel", "property_tab_view_files", "property_tab_view_notes", "all_generic_searches", "location_smart_search", "targeted_property_search", "export", "findComps", "findMailingAdd", "importData", "importFile", "interactiveMapClick", "label property", "mapDrawClick", "map marker click", "map satellite view", "map update result when moved click", "parcelResultsListView", "printPDF", "propertyOwnershipRequest", "submit search", "summary card click-through", "tableView"], "textposition": "bottom", "name": "2017-07-01", "visible": true}, {"type": "scatter", "x": [0.0, 0.0, 0.0, 0.173, 0.0, 0.0, 0.263, 0.0, 0.0, 0.0, 0.0, 0.0, 0.006, 0.575, 0.0, 0.0, 0.0, 0.0, 0.408, 0.659, 0.648, 0.827, 0.0, 0.0, 0.0, 0.0, 0.0, 0.022, 0.0, 0.709, 0.0, 0.0, 0.156, 0.0, 0.352, 0.0, 0.0, 0.0, 0.0, 0.0, 0.006], "y": [0, 0, 0, 5.064516129032258, 0,0, 1.6595744680851063, 0, 0, 0, 0, 0, 6.0, 32.019417475728154, 0, 0, 0, 0, 5.123287671232877, 24.71186440677966, 22.112068965517242, 22.695945945945947, 0, 0,0, 0, 0, 3.25, 0, 72.48031496062993, 0, 0, 24.214285714285715, 0, 24.0, 0, 0, 0, 0, 0, 2.0], "mode": "markers+text", "text": ["addToList", "listCreated", "searchCharac", "searchAsset", "searchDebt", "searchLocation", "searchOwnership", "searchSales", "viewBuilding", "viewSales", "viewTax", "viewDebt", "property_tab_view_ownership", "advancedSearch (all except searchownership)", "ownershipPortfolioSearch", "Viewed parcel page", "address search", "bulkContactsRequest", "bulkLabel", "property_tab_view_files", "property_tab_view_notes", "all_generic_searches", "location_smart_search", "targeted_property_search", "export", "findComps", "findMailingAdd", "importData", "importFile", "interactiveMapClick", "label property", "mapDrawClick", "map marker click", "map satellite view", "map update result when moved click", "parcelResultsListView", "printPDF", "propertyOwnershipRequest", "submit search", "summary card click-through", "tableView"], "textposition": "bottom", "name": "2017-08-01", "visible": true}, {"type": "scatter", "x": [0.0, 0.0, 0.0, 0.187, 0.0, 0.0, 0.204, 0.0, 0.0, 0.085, 0.0, 0.0, 0.038,0.528, 0.0, 0.0, 0.0, 0.0, 0.285, 0.647, 0.626, 0.77, 0.0, 0.0, 0.0, 0.0, 0.0, 0.043, 0.0, 0.698, 0.085, 0.0, 0.226, 0.0, 0.323, 0.0, 0.0, 0.0, 0.0, 0.0, 0.026], "y": [0, 0, 0, 6.295454545454546, 0, 0, 2.0208333333333335, 0, 0, 2.3, 0, 0, 6.0, 44.814516129032256, 0, 0, 0, 0, 4.82089552238806, 19.11842105263158, 27.31972789115646, 22.276243093922652, 0, 0, 0, 0, 0, 1.9, 0, 60.103658536585364, 2.3, 0, 55.39622641509434, 0, 22.18421052631579, 0, 0, 0, 0, 0, 2.8333333333333335], "mode": "markers+text", "text": ["addToList", "listCreated", "searchCharac", "searchAsset", "searchDebt", "searchLocation", "searchOwnership", "searchSales", "viewBuilding", "viewSales", "viewTax", "viewDebt", "property_tab_view_ownership", "advancedSearch (all except searchownership)", "ownershipPortfolioSearch", "Viewed parcel page", "address search", "bulkContactsRequest", "bulkLabel", "property_tab_view_files", "property_tab_view_notes", "all_generic_searches", "location_smart_search", "targeted_property_search", "export", "findComps", "findMailingAdd", "importData", "importFile", "interactiveMapClick", "label property","mapDrawClick", "map marker click", "map satellite view", "map update result when moved click", "parcelResultsListView", "printPDF", "propertyOwnershipRequest", "submit search", "summary card click-through", "tableView"], "textposition": "bottom", "name": "2017-09-01", "visible": true}, {"type": "scatter", "x": [0.013, 0.0, 0.0, 0.183, 0.0, 0.0, 0.225, 0.0, 0.0, 0.219, 0.0, 0.007, 0.023, 0.598, 0.0, 0.0, 0.0, 0.0, 0.301, 0.667, 0.624, 0.804, 0.0, 0.0, 0.0, 0.0, 0.0, 0.036, 0.0, 0.69, 0.219, 0.0, 0.203, 0.0, 0.278, 0.0, 0.196, 0.0, 0.0, 0.0, 0.013], "y": [1.5, 0, 0, 7.107142857142857, 0, 0, 2.550724637681159, 0, 0, 3.8208955223880596, 0, 2.5, 2.7142857142857144, 38.278688524590166, 0, 0, 0, 0, 5.119565217391305, 23.524509803921568, 46.81675392670157, 27.272357723577237, 0, 0, 0, 0, 0,2.3636363636363638, 0, 58.56398104265403, 3.8208955223880596, 0, 41.774193548387096, 0, 61.07058823529412, 0, 6.95, 0, 0, 0, 2.5], "mode": "markers+text", "text": ["addToList", "listCreated", "searchCharac", "searchAsset", "searchDebt", "searchLocation", "searchOwnership", "searchSales", "viewBuilding", "viewSales","viewTax", "viewDebt", "property_tab_view_ownership", "advancedSearch (all except searchownership)", "ownershipPortfolioSearch", "Viewed parcel page", "address search", "bulkContactsRequest", "bulkLabel", "property_tab_view_files", "property_tab_view_notes", "all_generic_searches", "location_smart_search", "targeted_property_search", "export", "findComps", "findMailingAdd", "importData", "importFile", "interactiveMapClick", "label property", "mapDrawClick", "map marker click", "map satellite view", "map update result when moved click", "parcelResultsListView", "printPDF", "propertyOwnershipRequest", "submit search", "summary card click-through", "tableView"], "textposition": "bottom", "name": "2017-10-01", "visible": true}, {"type": "scatter", "x": [0.097, 0.213, 0.152, 0.191, 0.0, 0.176, 0.201, 0.049, 0.331, 0.313, 0.0, 0.0, 0.018, 0.547, 0.0, 0.0, 0.0, 0.0, 0.295, 0.65, 0.596, 0.742, 0.0, 0.207, 0.252, 0.0, 0.119, 0.043, 0.277, 0.687, 0.188, 0.374, 0.191, 0.0, 0.286, 0.0, 0.201, 0.216, 0.277, 0.176, 0.012], "y": [8.21875, 5.871428571428571, 2.84, 10.0, 0, 6.258620689655173, 3.196969696969697, 3.8125, 14.302752293577981, 3.116504854368932, 0, 0, 3.6666666666666665, 32.71666666666667, 0, 0, 0, 0, 6.020618556701031, 23.570093457943926, 18.642857142857142, 29.34016393442623, 0, 5.411764705882353, 8.337349397590362, 0, 4.205128205128205, 4.571428571428571, 5.824175824175824, 65.99115044247787, 2.629032258064516, 12.24390243902439, 35.63492063492063, 0, 26.72340425531915, 0, 7.0, 4.47887323943662, 4.648351648351649, 2.7241379310344827, 3.25], "mode": "markers+text", "text": ["addToList", "listCreated", "searchCharac", "searchAsset", "searchDebt", "searchLocation", "searchOwnership", "searchSales", "viewBuilding", "viewSales", "viewTax", "viewDebt", "property_tab_view_ownership", "advancedSearch (all except searchownership)", "ownershipPortfolioSearch", "Viewed parcel page", "address search", "bulkContactsRequest", "bulkLabel", "property_tab_view_files", "property_tab_view_notes", "all_generic_searches", "location_smart_search", "targeted_property_search", "export", "findComps", "findMailingAdd", "importData", "importFile", "interactiveMapClick", "label property", "mapDrawClick", "map markerclick", "map satellite view", "map update result when moved click", "parcelResultsListView", "printPDF", "propertyOwnershipRequest", "submit search", "summarycard click-through", "tableView"], "textposition": "bottom", "name": "2017-11-01", "visible": true}, {"type": "scatter", "x": [0.118, 0.491, 0.238, 0.221, 0.0, 0.606, 0.191, 0.185, 0.8, 0.379, 0.0, 0.0, 0.015, 0.524, 0.0, 0.0, 0.0, 0.0, 0.312, 0.676, 0.588, 0.744, 0.0, 0.668, 0.697, 0.0, 0.529, 0.041, 0.403, 0.662, 0.165, 0.559, 0.168, 0.0, 0.309, 0.0, 0.194, 0.309, 0.397, 0.282, 0.009], "y": [6.95, 7.419161676646707, 2.9135802469135803, 11.586666666666666, 0, 16.74271844660194, 2.6615384615384614, 3.3968253968253967, 61.05882352941177, 2.953488372093023, 0, 0, 3.4, 36.86516853932584, 0, 0, 0, 0, 6.2924528301886795, 21.578260869565216, 21.28, 25.14624505928854, 0, 16.590308370044053, 23.08016877637131, 0, 8.416666666666666, 5.0, 5.7226277372262775, 72.06666666666666, 2.5357142857142856, 15.163157894736843, 33.280701754385966, 0, 27.095238095238095, 0, 4.893939393939394, 4.076190476190476, 4.607407407407408, 2.4895833333333335, 2.0], "mode": "markers+text", "text": ["addToList", "listCreated", "searchCharac", "searchAsset", "searchDebt", "searchLocation", "searchOwnership", "searchSales", "viewBuilding", "viewSales", "viewTax", "viewDebt", "property_tab_view_ownership", "advancedSearch (all except searchownership)", "ownershipPortfolioSearch", "Viewed parcel page", "address search", "bulkContactsRequest", "bulkLabel", "property_tab_view_files", "property_tab_view_notes", "all_generic_searches", "location_smart_search", "targeted_property_search", "export", "findComps", "findMailingAdd", "importData", "importFile", "interactiveMapClick", "label property", "mapDrawClick", "map marker click", "map satellite view", "map update result when moved click", "parcelResultsListView", "printPDF", "propertyOwnershipRequest", "submitsearch", "summary card click-through", "tableView"], "textposition": "bottom", "name": "2017-12-01", "visible": true}, {"type": "scatter", "x": [0.139, 0.599,0.301, 0.239, 0.0, 0.663, 0.247, 0.245, 0.861, 0.47, 0.0, 0.002, 0.029, 0.605, 0.0, 0.0, 0.0, 0.0, 0.327, 0.644, 0.646, 0.853, 0.0, 0.724, 0.755, 0.0, 0.618, 0.061, 0.477, 0.736, 0.225, 0.661, 0.174, 0.0, 0.329, 0.0, 0.217, 0.405, 0.515, 0.374, 0.012], "y": [6.197183098591549, 7.5588235294117645, 3.2337662337662336,10.557377049180328, 0, 17.59882005899705, 3.238095238095238, 3.768, 70.01590909090909, 4.620833333333334, 0, 1.0, 5.4, 32.262135922330096, 0, 0, 0, 0, 6.203592814371257, 28.221884498480243, 24.918181818181818, 28.591743119266056, 0, 20.383783783783784, 34.582901554404145, 0, 10.908227848101266, 3.4838709677419355, 5.131147540983607, 87.74468085106383, 4.321739130434783, 15.807692307692308, 26.921348314606742, 0, 19.261904761904763, 0, 5.774774774774775, 4.63768115942029, 4.866920152091255, 3.2041884816753927, 2.6666666666666665], "mode": "markers+text", "text": ["addToList", "listCreated", "searchCharac", "searchAsset", "searchDebt", "searchLocation", "searchOwnership", "searchSales", "viewBuilding", "viewSales", "viewTax", "viewDebt", "property_tab_view_ownership", "advancedSearch (all except searchownership)", "ownershipPortfolioSearch", "Viewed parcel page", "address search", "bulkContactsRequest", "bulkLabel", "property_tab_view_files", "property_tab_view_notes", "all_generic_searches", "location_smart_search", "targeted_property_search", "export", "findComps", "findMailingAdd", "importData", "importFile", "interactiveMapClick", "label property", "mapDrawClick", "map marker click", "map satellite view", "map update result when moved click", "parcelResultsListView", "printPDF", "propertyOwnershipRequest", "submit search", "summary card click-through", "tableView"], "textposition": "bottom", "name": "2018-01-01", "visible": true}], {"title": "Feature Audit for All", "hovermode": "closest", "xaxis": {"title": "Adoption", "ticklen": 5, "zeroline": false, "gridwidth": 2}, "yaxis": {"title": "Frequency", "ticklen": 5, "gridwidth": 2}, "showlegend": true}, {"showLink": false, "linkText": "Export to plot.ly"})</script>
        <div class="mySlides" id="f38cabcc-bb57-408c-b80d-71c0de202216" style="height: 100%; width: 100%;" class="plotly-graph-div"></div><script type="text/javascript">window.PLOTLYENV=window.PLOTLYENV || {};window.PLOTLYENV.BASE_URL="https://plot.ly";Plotly.newPlot("f38cabcc-bb57-408c-b80d-71c0de202216", [{"type": "scatter", "x": [0.0, 0.0, 0.0, 0.245, 0.0, 0.0, 0.208, 0.0, 0.0, 0.0, 0.0, 0.0, 0.019, 0.415, 0.0, 0.0, 0.0, 0.0, 0.264, 0.623, 0.491, 0.792, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.66,0.0, 0.0, 0.113, 0.0, 0.283, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], "y": [0, 0, 0, 4.6923076923076925, 0, 0, 1.7272727272727273, 0, 0, 0, 0, 0, 1.0, 28.90909090909091, 0, 0, 0, 0, 9.285714285714286, 11.696969696969697, 14.961538461538462, 23.023809523809526, 0, 0, 0, 0, 0, 0, 0, 45.91428571428571, 0, 0, 21.666666666666668, 0, 3.2, 0, 0, 0, 0, 0, 0], "mode": "markers+text", "text": ["addToList", "listCreated", "searchCharac", "searchAsset", "searchDebt", "searchLocation", "searchOwnership", "searchSales", "viewBuilding", "viewSales", "viewTax", "viewDebt", "property_tab_view_ownership", "advancedSearch (all except searchownership)", "ownershipPortfolioSearch", "Viewed parcel page", "address search", "bulkContactsRequest", "bulkLabel", "property_tab_view_files", "property_tab_view_notes", "all_generic_searches", "location_smart_search", "targeted_property_search", "export", "findComps", "findMailingAdd", "importData", "importFile", "interactiveMapClick", "label property", "mapDrawClick", "map marker click", "map satellite view", "map update result when moved click", "parcelResultsListView", "printPDF", "propertyOwnershipRequest", "submit search", "summary card click-through", "tableView"], "textposition": "bottom", "name": "2017-06-01", "visible": true}, {"type": "scatter", "x": [0.0, 0.0, 0.0, 0.225, 0.0, 0.0, 0.294, 0.0, 0.0, 0.0, 0.0, 0.0, 0.01, 0.647, 0.0, 0.0, 0.0, 0.0, 0.324, 0.676, 0.706, 0.882, 0.0, 0.0, 0.0,0.0, 0.0, 0.029, 0.0, 0.745, 0.0, 0.0, 0.235, 0.0, 0.363, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], "y": [0, 0, 0, 4.086956521739131, 0, 0, 2.033333333333333, 0, 0, 0, 0, 0, 3.0, 31.348484848484848, 0, 0, 0, 0, 4.848484848484849, 13.666666666666666, 27.22222222222222, 24.4, 0, 0, 0, 0, 0, 1.6666666666666667, 0, 66.65789473684211, 0, 0, 14.5, 0, 9.837837837837839, 0, 0, 0, 0, 0, 0], "mode": "markers+text", "text": ["addToList", "listCreated", "searchCharac", "searchAsset", "searchDebt", "searchLocation", "searchOwnership", "searchSales", "viewBuilding", "viewSales", "viewTax", "viewDebt", "property_tab_view_ownership", "advancedSearch (allexcept searchownership)", "ownershipPortfolioSearch", "Viewed parcel page", "address search", "bulkContactsRequest", "bulkLabel", "property_tab_view_files", "property_tab_view_notes", "all_generic_searches", "location_smart_search", "targeted_property_search", "export", "findComps", "findMailingAdd", "importData", "importFile", "interactiveMapClick", "label property", "mapDrawClick", "map marker click", "map satellite view", "map update result when moved click", "parcelResultsListView", "printPDF", "propertyOwnershipRequest", "submit search", "summary card click-through", "tableView"], "textposition": "bottom", "name": "2017-07-01", "visible": true}, {"type": "scatter", "x": [0.0, 0.0, 0.0, 0.173, 0.0, 0.0, 0.263, 0.0, 0.0, 0.0, 0.0, 0.0, 0.006, 0.575, 0.0, 0.0, 0.0, 0.0, 0.408, 0.659, 0.648, 0.827, 0.0, 0.0, 0.0, 0.0, 0.0, 0.022, 0.0, 0.709, 0.0, 0.0, 0.156, 0.0, 0.352, 0.0, 0.0, 0.0, 0.0, 0.0, 0.006], "y": [0, 0, 0, 5.064516129032258, 0,0, 1.6595744680851063, 0, 0, 0, 0, 0, 6.0, 32.019417475728154, 0, 0, 0, 0, 5.123287671232877, 24.71186440677966, 22.112068965517242, 22.695945945945947, 0, 0,0, 0, 0, 3.25, 0, 72.48031496062993, 0, 0, 24.214285714285715, 0, 24.0, 0, 0, 0, 0, 0, 2.0], "mode": "markers+text", "text": ["addToList", "listCreated", "searchCharac", "searchAsset", "searchDebt", "searchLocation", "searchOwnership", "searchSales", "viewBuilding", "viewSales", "viewTax", "viewDebt", "property_tab_view_ownership", "advancedSearch (all except searchownership)", "ownershipPortfolioSearch", "Viewed parcel page", "address search", "bulkContactsRequest", "bulkLabel", "property_tab_view_files", "property_tab_view_notes", "all_generic_searches", "location_smart_search", "targeted_property_search", "export", "findComps", "findMailingAdd", "importData", "importFile", "interactiveMapClick", "label property", "mapDrawClick", "map marker click", "map satellite view", "map update result when moved click", "parcelResultsListView", "printPDF", "propertyOwnershipRequest", "submit search", "summary card click-through", "tableView"], "textposition": "bottom", "name": "2017-08-01", "visible": true}, {"type": "scatter", "x": [0.0, 0.0, 0.0, 0.187, 0.0, 0.0, 0.204, 0.0, 0.0, 0.085, 0.0, 0.0, 0.038,0.528, 0.0, 0.0, 0.0, 0.0, 0.285, 0.647, 0.626, 0.77, 0.0, 0.0, 0.0, 0.0, 0.0, 0.043, 0.0, 0.698, 0.085, 0.0, 0.226, 0.0, 0.323, 0.0, 0.0, 0.0, 0.0, 0.0, 0.026], "y": [0, 0, 0, 6.295454545454546, 0, 0, 2.0208333333333335, 0, 0, 2.3, 0, 0, 6.0, 44.814516129032256, 0, 0, 0, 0, 4.82089552238806, 19.11842105263158, 27.31972789115646, 22.276243093922652, 0, 0, 0, 0, 0, 1.9, 0, 60.103658536585364, 2.3, 0, 55.39622641509434, 0, 22.18421052631579, 0, 0, 0, 0, 0, 2.8333333333333335], "mode": "markers+text", "text": ["addToList", "listCreated", "searchCharac", "searchAsset", "searchDebt", "searchLocation", "searchOwnership", "searchSales", "viewBuilding", "viewSales", "viewTax", "viewDebt", "property_tab_view_ownership", "advancedSearch (all except searchownership)", "ownershipPortfolioSearch", "Viewed parcel page", "address search", "bulkContactsRequest", "bulkLabel", "property_tab_view_files", "property_tab_view_notes", "all_generic_searches", "location_smart_search", "targeted_property_search", "export", "findComps", "findMailingAdd", "importData", "importFile", "interactiveMapClick", "label property","mapDrawClick", "map marker click", "map satellite view", "map update result when moved click", "parcelResultsListView", "printPDF", "propertyOwnershipRequest", "submit search", "summary card click-through", "tableView"], "textposition": "bottom", "name": "2017-09-01", "visible": true}, {"type": "scatter", "x": [0.013, 0.0, 0.0, 0.183, 0.0, 0.0, 0.225, 0.0, 0.0, 0.219, 0.0, 0.007, 0.023, 0.598, 0.0, 0.0, 0.0, 0.0, 0.301, 0.667, 0.624, 0.804, 0.0, 0.0, 0.0, 0.0, 0.0, 0.036, 0.0, 0.69, 0.219, 0.0, 0.203, 0.0, 0.278, 0.0, 0.196, 0.0, 0.0, 0.0, 0.013], "y": [1.5, 0, 0, 7.107142857142857, 0, 0, 2.550724637681159, 0, 0, 3.8208955223880596, 0, 2.5, 2.7142857142857144, 38.278688524590166, 0, 0, 0, 0, 5.119565217391305, 23.524509803921568, 46.81675392670157, 27.272357723577237, 0, 0, 0, 0, 0,2.3636363636363638, 0, 58.56398104265403, 3.8208955223880596, 0, 41.774193548387096, 0, 61.07058823529412, 0, 6.95, 0, 0, 0, 2.5], "mode": "markers+text", "text": ["addToList", "listCreated", "searchCharac", "searchAsset", "searchDebt", "searchLocation", "searchOwnership", "searchSales", "viewBuilding", "viewSales","viewTax", "viewDebt", "property_tab_view_ownership", "advancedSearch (all except searchownership)", "ownershipPortfolioSearch", "Viewed parcel page", "address search", "bulkContactsRequest", "bulkLabel", "property_tab_view_files", "property_tab_view_notes", "all_generic_searches", "location_smart_search", "targeted_property_search", "export", "findComps", "findMailingAdd", "importData", "importFile", "interactiveMapClick", "label property", "mapDrawClick", "map marker click", "map satellite view", "map update result when moved click", "parcelResultsListView", "printPDF", "propertyOwnershipRequest", "submit search", "summary card click-through", "tableView"], "textposition": "bottom", "name": "2017-10-01", "visible": true}, {"type": "scatter", "x": [0.097, 0.213, 0.152, 0.191, 0.0, 0.176, 0.201, 0.049, 0.331, 0.313, 0.0, 0.0, 0.018, 0.547, 0.0, 0.0, 0.0, 0.0, 0.295, 0.65, 0.596, 0.742, 0.0, 0.207, 0.252, 0.0, 0.119, 0.043, 0.277, 0.687, 0.188, 0.374, 0.191, 0.0, 0.286, 0.0, 0.201, 0.216, 0.277, 0.176, 0.012], "y": [8.21875, 5.871428571428571, 2.84, 10.0, 0, 6.258620689655173, 3.196969696969697, 3.8125, 14.302752293577981, 3.116504854368932, 0, 0, 3.6666666666666665, 32.71666666666667, 0, 0, 0, 0, 6.020618556701031, 23.570093457943926, 18.642857142857142, 29.34016393442623, 0, 5.411764705882353, 8.337349397590362, 0, 4.205128205128205, 4.571428571428571, 5.824175824175824, 65.99115044247787, 2.629032258064516, 12.24390243902439, 35.63492063492063, 0, 26.72340425531915, 0, 7.0, 4.47887323943662, 4.648351648351649, 2.7241379310344827, 3.25], "mode": "markers+text", "text": ["addToList", "listCreated", "searchCharac", "searchAsset", "searchDebt", "searchLocation", "searchOwnership", "searchSales", "viewBuilding", "viewSales", "viewTax", "viewDebt", "property_tab_view_ownership", "advancedSearch (all except searchownership)", "ownershipPortfolioSearch", "Viewed parcel page", "address search", "bulkContactsRequest", "bulkLabel", "property_tab_view_files", "property_tab_view_notes", "all_generic_searches", "location_smart_search", "targeted_property_search", "export", "findComps", "findMailingAdd", "importData", "importFile", "interactiveMapClick", "label property", "mapDrawClick", "map markerclick", "map satellite view", "map update result when moved click", "parcelResultsListView", "printPDF", "propertyOwnershipRequest", "submit search", "summarycard click-through", "tableView"], "textposition": "bottom", "name": "2017-11-01", "visible": true}, {"type": "scatter", "x": [0.118, 0.491, 0.238, 0.221, 0.0, 0.606, 0.191, 0.185, 0.8, 0.379, 0.0, 0.0, 0.015, 0.524, 0.0, 0.0, 0.0, 0.0, 0.312, 0.676, 0.588, 0.744, 0.0, 0.668, 0.697, 0.0, 0.529, 0.041, 0.403, 0.662, 0.165, 0.559, 0.168, 0.0, 0.309, 0.0, 0.194, 0.309, 0.397, 0.282, 0.009], "y": [6.95, 7.419161676646707, 2.9135802469135803, 11.586666666666666, 0, 16.74271844660194, 2.6615384615384614, 3.3968253968253967, 61.05882352941177, 2.953488372093023, 0, 0, 3.4, 36.86516853932584, 0, 0, 0, 0, 6.2924528301886795, 21.578260869565216, 21.28, 25.14624505928854, 0, 16.590308370044053, 23.08016877637131, 0, 8.416666666666666, 5.0, 5.7226277372262775, 72.06666666666666, 2.5357142857142856, 15.163157894736843, 33.280701754385966, 0, 27.095238095238095, 0, 4.893939393939394, 4.076190476190476, 4.607407407407408, 2.4895833333333335, 2.0], "mode": "markers+text", "text": ["addToList", "listCreated", "searchCharac", "searchAsset", "searchDebt", "searchLocation", "searchOwnership", "searchSales", "viewBuilding", "viewSales", "viewTax", "viewDebt", "property_tab_view_ownership", "advancedSearch (all except searchownership)", "ownershipPortfolioSearch", "Viewed parcel page", "address search", "bulkContactsRequest", "bulkLabel", "property_tab_view_files", "property_tab_view_notes", "all_generic_searches", "location_smart_search", "targeted_property_search", "export", "findComps", "findMailingAdd", "importData", "importFile", "interactiveMapClick", "label property", "mapDrawClick", "map marker click", "map satellite view", "map update result when moved click", "parcelResultsListView", "printPDF", "propertyOwnershipRequest", "submitsearch", "summary card click-through", "tableView"], "textposition": "bottom", "name": "2017-12-01", "visible": true}, {"type": "scatter", "x": [0.139, 0.599,0.301, 0.239, 0.0, 0.663, 0.247, 0.245, 0.861, 0.47, 0.0, 0.002, 0.029, 0.605, 0.0, 0.0, 0.0, 0.0, 0.327, 0.644, 0.646, 0.853, 0.0, 0.724, 0.755, 0.0, 0.618, 0.061, 0.477, 0.736, 0.225, 0.661, 0.174, 0.0, 0.329, 0.0, 0.217, 0.405, 0.515, 0.374, 0.012], "y": [6.197183098591549, 7.5588235294117645, 3.2337662337662336,10.557377049180328, 0, 17.59882005899705, 3.238095238095238, 3.768, 70.01590909090909, 4.620833333333334, 0, 1.0, 5.4, 32.262135922330096, 0, 0, 0, 0, 6.203592814371257, 28.221884498480243, 24.918181818181818, 28.591743119266056, 0, 20.383783783783784, 34.582901554404145, 0, 10.908227848101266, 3.4838709677419355, 5.131147540983607, 87.74468085106383, 4.321739130434783, 15.807692307692308, 26.921348314606742, 0, 19.261904761904763, 0, 5.774774774774775, 4.63768115942029, 4.866920152091255, 3.2041884816753927, 2.6666666666666665], "mode": "markers+text", "text": ["addToList", "listCreated", "searchCharac", "searchAsset", "searchDebt", "searchLocation", "searchOwnership", "searchSales", "viewBuilding", "viewSales", "viewTax", "viewDebt", "property_tab_view_ownership", "advancedSearch (all except searchownership)", "ownershipPortfolioSearch", "Viewed parcel page", "address search", "bulkContactsRequest", "bulkLabel", "property_tab_view_files", "property_tab_view_notes", "all_generic_searches", "location_smart_search", "targeted_property_search", "export", "findComps", "findMailingAdd", "importData", "importFile", "interactiveMapClick", "label property", "mapDrawClick", "map marker click", "map satellite view", "map update result when moved click", "parcelResultsListView", "printPDF", "propertyOwnershipRequest", "submit search", "summary card click-through", "tableView"], "textposition": "bottom", "name": "2018-01-01", "visible": true}], {"title": "Feature Audit for All", "hovermode": "closest", "xaxis": {"title": "Adoption", "ticklen": 5, "zeroline": false, "gridwidth": 2}, "yaxis": {"title": "Frequency", "ticklen": 5, "gridwidth": 2}, "showlegend": true}, {"showLink": false, "linkText": "Export to plot.ly"})</script>

        <div class="mySlides" id="f38cabcc-bb57-408c-b80d-71c0de202216" style="height: 100%; width: 100%;" class="plotly-graph-div"></div><script type="text/javascript">window.PLOTLYENV=window.PLOTLYENV || {};window.PLOTLYENV.BASE_URL="https://plot.ly";Plotly.newPlot("f38cabcc-bb57-408c-b80d-71c0de202216", [{"type": "scatter", "x": [0.0, 0.0, 0.0, 0.245, 0.0, 0.0, 0.208, 0.0, 0.0, 0.0, 0.0, 0.0, 0.019, 0.415, 0.0, 0.0, 0.0, 0.0, 0.264, 0.623, 0.491, 0.792, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.66,0.0, 0.0, 0.113, 0.0, 0.283, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], "y": [0, 0, 0, 4.6923076923076925, 0, 0, 1.7272727272727273, 0, 0, 0, 0, 0, 1.0, 28.90909090909091, 0, 0, 0, 0, 9.285714285714286, 11.696969696969697, 14.961538461538462, 23.023809523809526, 0, 0, 0, 0, 0, 0, 0, 45.91428571428571, 0, 0, 21.666666666666668, 0, 3.2, 0, 0, 0, 0, 0, 0], "mode": "markers+text", "text": ["addToList", "listCreated", "searchCharac", "searchAsset", "searchDebt", "searchLocation", "searchOwnership", "searchSales", "viewBuilding", "viewSales", "viewTax", "viewDebt", "property_tab_view_ownership", "advancedSearch (all except searchownership)", "ownershipPortfolioSearch", "Viewed parcel page", "address search", "bulkContactsRequest", "bulkLabel", "property_tab_view_files", "property_tab_view_notes", "all_generic_searches", "location_smart_search", "targeted_property_search", "export", "findComps", "findMailingAdd", "importData", "importFile", "interactiveMapClick", "label property", "mapDrawClick", "map marker click", "map satellite view", "map update result when moved click", "parcelResultsListView", "printPDF", "propertyOwnershipRequest", "submit search", "summary card click-through", "tableView"], "textposition": "bottom", "name": "2017-06-01", "visible": "legend only"}, {"type": "scatter", "x": [0.0, 0.0, 0.0, 0.225, 0.0, 0.0, 0.294, 0.0, 0.0, 0.0, 0.0, 0.0, 0.01, 0.647, 0.0, 0.0, 0.0, 0.0, 0.324, 0.676, 0.706, 0.882, 0.0, 0.0, 0.0,0.0, 0.0, 0.029, 0.0, 0.745, 0.0, 0.0, 0.235, 0.0, 0.363, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], "y": [0, 0, 0, 4.086956521739131, 0, 0, 2.033333333333333, 0, 0, 0, 0, 0, 3.0, 31.348484848484848, 0, 0, 0, 0, 4.848484848484849, 13.666666666666666, 27.22222222222222, 24.4, 0, 0, 0, 0, 0, 1.6666666666666667, 0, 66.65789473684211, 0, 0, 14.5, 0, 9.837837837837839, 0, 0, 0, 0, 0, 0], "mode": "markers+text", "text": ["addToList", "listCreated", "searchCharac", "searchAsset", "searchDebt", "searchLocation", "searchOwnership", "searchSales", "viewBuilding", "viewSales", "viewTax", "viewDebt", "property_tab_view_ownership", "advancedSearch (allexcept searchownership)", "ownershipPortfolioSearch", "Viewed parcel page", "address search", "bulkContactsRequest", "bulkLabel", "property_tab_view_files", "property_tab_view_notes", "all_generic_searches", "location_smart_search", "targeted_property_search", "export", "findComps", "findMailingAdd", "importData", "importFile", "interactiveMapClick", "label property", "mapDrawClick", "map marker click", "map satellite view", "map update result when moved click", "parcelResultsListView", "printPDF", "propertyOwnershipRequest", "submit search", "summary card click-through", "tableView"], "textposition": "bottom", "name": "2017-07-01", "visible": "legend only"}, {"type": "scatter", "x": [0.0, 0.0, 0.0, 0.173, 0.0, 0.0, 0.263, 0.0, 0.0, 0.0, 0.0, 0.0, 0.006, 0.575, 0.0, 0.0, 0.0, 0.0, 0.408, 0.659, 0.648, 0.827, 0.0, 0.0, 0.0, 0.0, 0.0, 0.022, 0.0, 0.709, 0.0, 0.0, 0.156, 0.0, 0.352, 0.0, 0.0, 0.0, 0.0, 0.0, 0.006], "y": [0, 0, 0, 5.064516129032258, 0,0, 1.6595744680851063, 0, 0, 0, 0, 0, 6.0, 32.019417475728154, 0, 0, 0, 0, 5.123287671232877, 24.71186440677966, 22.112068965517242, 22.695945945945947, 0, 0,0, 0, 0, 3.25, 0, 72.48031496062993, 0, 0, 24.214285714285715, 0, 24.0, 0, 0, 0, 0, 0, 2.0], "mode": "markers+text", "text": ["addToList", "listCreated", "searchCharac", "searchAsset", "searchDebt", "searchLocation", "searchOwnership", "searchSales", "viewBuilding", "viewSales", "viewTax", "viewDebt", "property_tab_view_ownership", "advancedSearch (all except searchownership)", "ownershipPortfolioSearch", "Viewed parcel page", "address search", "bulkContactsRequest", "bulkLabel", "property_tab_view_files", "property_tab_view_notes", "all_generic_searches", "location_smart_search", "targeted_property_search", "export", "findComps", "findMailingAdd", "importData", "importFile", "interactiveMapClick", "label property", "mapDrawClick", "map marker click", "map satellite view", "map update result when moved click", "parcelResultsListView", "printPDF", "propertyOwnershipRequest", "submit search", "summary card click-through", "tableView"], "textposition": "bottom", "name": "2017-08-01", "visible": "legend only"}, {"type": "scatter", "x": [0.0, 0.0, 0.0, 0.187, 0.0, 0.0, 0.204, 0.0, 0.0, 0.085, 0.0, 0.0, 0.038,0.528, 0.0, 0.0, 0.0, 0.0, 0.285, 0.647, 0.626, 0.77, 0.0, 0.0, 0.0, 0.0, 0.0, 0.043, 0.0, 0.698, 0.085, 0.0, 0.226, 0.0, 0.323, 0.0, 0.0, 0.0, 0.0, 0.0, 0.026], "y": [0, 0, 0, 6.295454545454546, 0, 0, 2.0208333333333335, 0, 0, 2.3, 0, 0, 6.0, 44.814516129032256, 0, 0, 0, 0, 4.82089552238806, 19.11842105263158, 27.31972789115646, 22.276243093922652, 0, 0, 0, 0, 0, 1.9, 0, 60.103658536585364, 2.3, 0, 55.39622641509434, 0, 22.18421052631579, 0, 0, 0, 0, 0, 2.8333333333333335], "mode": "markers+text", "text": ["addToList", "listCreated", "searchCharac", "searchAsset", "searchDebt", "searchLocation", "searchOwnership", "searchSales", "viewBuilding", "viewSales", "viewTax", "viewDebt", "property_tab_view_ownership", "advancedSearch (all except searchownership)", "ownershipPortfolioSearch", "Viewed parcel page", "address search", "bulkContactsRequest", "bulkLabel", "property_tab_view_files", "property_tab_view_notes", "all_generic_searches", "location_smart_search", "targeted_property_search", "export", "findComps", "findMailingAdd", "importData", "importFile", "interactiveMapClick", "label property","mapDrawClick", "map marker click", "map satellite view", "map update result when moved click", "parcelResultsListView", "printPDF", "propertyOwnershipRequest", "submit search", "summary card click-through", "tableView"], "textposition": "bottom", "name": "2017-09-01", "visible": "legend only"}, {"type": "scatter", "x": [0.013, 0.0, 0.0, 0.183, 0.0, 0.0, 0.225, 0.0, 0.0, 0.219, 0.0, 0.007, 0.023, 0.598, 0.0, 0.0, 0.0, 0.0, 0.301, 0.667, 0.624, 0.804, 0.0, 0.0, 0.0, 0.0, 0.0, 0.036, 0.0, 0.69, 0.219, 0.0, 0.203, 0.0, 0.278, 0.0, 0.196, 0.0, 0.0, 0.0, 0.013], "y": [1.5, 0, 0, 7.107142857142857, 0, 0, 2.550724637681159, 0, 0, 3.8208955223880596, 0, 2.5, 2.7142857142857144, 38.278688524590166, 0, 0, 0, 0, 5.119565217391305, 23.524509803921568, 46.81675392670157, 27.272357723577237, 0, 0, 0, 0, 0,2.3636363636363638, 0, 58.56398104265403, 3.8208955223880596, 0, 41.774193548387096, 0, 61.07058823529412, 0, 6.95, 0, 0, 0, 2.5], "mode": "markers+text", "text": ["addToList", "listCreated", "searchCharac", "searchAsset", "searchDebt", "searchLocation", "searchOwnership", "searchSales", "viewBuilding", "viewSales","viewTax", "viewDebt", "property_tab_view_ownership", "advancedSearch (all except searchownership)", "ownershipPortfolioSearch", "Viewed parcel page", "address search", "bulkContactsRequest", "bulkLabel", "property_tab_view_files", "property_tab_view_notes", "all_generic_searches", "location_smart_search", "targeted_property_search", "export", "findComps", "findMailingAdd", "importData", "importFile", "interactiveMapClick", "label property", "mapDrawClick", "map marker click", "map satellite view", "map update result when moved click", "parcelResultsListView", "printPDF", "propertyOwnershipRequest", "submit search", "summary card click-through", "tableView"], "textposition": "bottom", "name": "2017-10-01", "visible": true}, {"type": "scatter", "x": [0.097, 0.213, 0.152, 0.191, 0.0, 0.176, 0.201, 0.049, 0.331, 0.313, 0.0, 0.0, 0.018, 0.547, 0.0, 0.0, 0.0, 0.0, 0.295, 0.65, 0.596, 0.742, 0.0, 0.207, 0.252, 0.0, 0.119, 0.043, 0.277, 0.687, 0.188, 0.374, 0.191, 0.0, 0.286, 0.0, 0.201, 0.216, 0.277, 0.176, 0.012], "y": [8.21875, 5.871428571428571, 2.84, 10.0, 0, 6.258620689655173, 3.196969696969697, 3.8125, 14.302752293577981, 3.116504854368932, 0, 0, 3.6666666666666665, 32.71666666666667, 0, 0, 0, 0, 6.020618556701031, 23.570093457943926, 18.642857142857142, 29.34016393442623, 0, 5.411764705882353, 8.337349397590362, 0, 4.205128205128205, 4.571428571428571, 5.824175824175824, 65.99115044247787, 2.629032258064516, 12.24390243902439, 35.63492063492063, 0, 26.72340425531915, 0, 7.0, 4.47887323943662, 4.648351648351649, 2.7241379310344827, 3.25], "mode": "markers+text", "text": ["addToList", "listCreated", "searchCharac", "searchAsset", "searchDebt", "searchLocation", "searchOwnership", "searchSales", "viewBuilding", "viewSales", "viewTax", "viewDebt", "property_tab_view_ownership", "advancedSearch (all except searchownership)", "ownershipPortfolioSearch", "Viewed parcel page", "address search", "bulkContactsRequest", "bulkLabel", "property_tab_view_files", "property_tab_view_notes", "all_generic_searches", "location_smart_search", "targeted_property_search", "export", "findComps", "findMailingAdd", "importData", "importFile", "interactiveMapClick", "label property", "mapDrawClick", "map markerclick", "map satellite view", "map update result when moved click", "parcelResultsListView", "printPDF", "propertyOwnershipRequest", "submit search", "summarycard click-through", "tableView"], "textposition": "bottom", "name": "2017-11-01", "visible": "legend only"}, {"type": "scatter", "x": [0.118, 0.491, 0.238, 0.221, 0.0, 0.606, 0.191, 0.185, 0.8, 0.379, 0.0, 0.0, 0.015, 0.524, 0.0, 0.0, 0.0, 0.0, 0.312, 0.676, 0.588, 0.744, 0.0, 0.668, 0.697, 0.0, 0.529, 0.041, 0.403, 0.662, 0.165, 0.559, 0.168, 0.0, 0.309, 0.0, 0.194, 0.309, 0.397, 0.282, 0.009], "y": [6.95, 7.419161676646707, 2.9135802469135803, 11.586666666666666, 0, 16.74271844660194, 2.6615384615384614, 3.3968253968253967, 61.05882352941177, 2.953488372093023, 0, 0, 3.4, 36.86516853932584, 0, 0, 0, 0, 6.2924528301886795, 21.578260869565216, 21.28, 25.14624505928854, 0, 16.590308370044053, 23.08016877637131, 0, 8.416666666666666, 5.0, 5.7226277372262775, 72.06666666666666, 2.5357142857142856, 15.163157894736843, 33.280701754385966, 0, 27.095238095238095, 0, 4.893939393939394, 4.076190476190476, 4.607407407407408, 2.4895833333333335, 2.0], "mode": "markers+text", "text": ["addToList", "listCreated", "searchCharac", "searchAsset", "searchDebt", "searchLocation", "searchOwnership", "searchSales", "viewBuilding", "viewSales", "viewTax", "viewDebt", "property_tab_view_ownership", "advancedSearch (all except searchownership)", "ownershipPortfolioSearch", "Viewed parcel page", "address search", "bulkContactsRequest", "bulkLabel", "property_tab_view_files", "property_tab_view_notes", "all_generic_searches", "location_smart_search", "targeted_property_search", "export", "findComps", "findMailingAdd", "importData", "importFile", "interactiveMapClick", "label property", "mapDrawClick", "map marker click", "map satellite view", "map update result when moved click", "parcelResultsListView", "printPDF", "propertyOwnershipRequest", "submitsearch", "summary card click-through", "tableView"], "textposition": "bottom", "name": "2017-12-01", "visible": "legend only"}, {"type": "scatter", "x": [0.139, 0.599,0.301, 0.239, 0.0, 0.663, 0.247, 0.245, 0.861, 0.47, 0.0, 0.002, 0.029, 0.605, 0.0, 0.0, 0.0, 0.0, 0.327, 0.644, 0.646, 0.853, 0.0, 0.724, 0.755, 0.0, 0.618, 0.061, 0.477, 0.736, 0.225, 0.661, 0.174, 0.0, 0.329, 0.0, 0.217, 0.405, 0.515, 0.374, 0.012], "y": [6.197183098591549, 7.5588235294117645, 3.2337662337662336,10.557377049180328, 0, 17.59882005899705, 3.238095238095238, 3.768, 70.01590909090909, 4.620833333333334, 0, 1.0, 5.4, 32.262135922330096, 0, 0, 0, 0, 6.203592814371257, 28.221884498480243, 24.918181818181818, 28.591743119266056, 0, 20.383783783783784, 34.582901554404145, 0, 10.908227848101266, 3.4838709677419355, 5.131147540983607, 87.74468085106383, 4.321739130434783, 15.807692307692308, 26.921348314606742, 0, 19.261904761904763, 0, 5.774774774774775, 4.63768115942029, 4.866920152091255, 3.2041884816753927, 2.6666666666666665], "mode": "markers+text", "text": ["addToList", "listCreated", "searchCharac", "searchAsset", "searchDebt", "searchLocation", "searchOwnership", "searchSales", "viewBuilding", "viewSales", "viewTax", "viewDebt", "property_tab_view_ownership", "advancedSearch (all except searchownership)", "ownershipPortfolioSearch", "Viewed parcel page", "address search", "bulkContactsRequest", "bulkLabel", "property_tab_view_files", "property_tab_view_notes", "all_generic_searches", "location_smart_search", "targeted_property_search", "export", "findComps", "findMailingAdd", "importData", "importFile", "interactiveMapClick", "label property", "mapDrawClick", "map marker click", "map satellite view", "map update result when moved click", "parcelResultsListView", "printPDF", "propertyOwnershipRequest", "submit search", "summary card click-through", "tableView"], "textposition": "bottom", "name": "2018-01-01", "visible": "legend only"}], {"title": "Feature Audit for All", "hovermode": "closest", "xaxis": {"title": "Adoption", "ticklen": 5, "zeroline": false, "gridwidth": 2}, "yaxis": {"title": "Frequency", "ticklen": 5, "gridwidth": 2}, "showlegend": true}, {"showLink": false, "linkText": "Export to plot.ly"})</script>
        <div class='mySlides' id="64eb2f46-5277-4953-8fc9-02fa2433de44" style="height: 100%; width: 100%;" class="plotly-graph-div"></div><script type="text/javascript">window.PLOTLYENV=window.PLOTLYENV || {};window.PLOTLYENV.BASE_URL="https://plot.ly";Plotly.newPlot("64eb2f46-5277-4953-8fc9-02fa2433de44", [{"type": "scatter", "x": [0.0, 0.0,0.0, 0.245, 0.0, 0.0, 0.208, 0.0, 0.0, 0.0, 0.0, 0.0, 0.019, 0.415, 0.0, 0.0, 0.0, 0.0, 0.264, 0.623, 0.491, 0.792, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.66, 0.0, 0.0, 0.113, 0.0, 0.283, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], "y": [0, 0, 0, 4.6923076923076925, 0, 0, 1.7272727272727273, 0, 0, 0, 0, 0, 1.0, 28.90909090909091, 0,0, 0, 0, 9.285714285714286, 11.696969696969697, 14.961538461538462, 23.023809523809526, 0, 0, 0, 0, 0, 0, 0, 45.91428571428571, 0, 0, 21.666666666666668, 0, 3.2, 0, 0, 0, 0, 0, 0], "mode": "markers+text", "text": ["addToList", "listCreated", "searchCharac", "searchAsset", "searchDebt", "searchLocation", "searchOwnership", "searchSales", "viewBuilding", "viewSales", "viewTax", "viewDebt", "property_tab_view_ownership", "advancedSearch (all except searchownership)", "ownershipPortfolioSearch", "Viewed parcel page", "address search", "bulkContactsRequest", "bulkLabel", "property_tab_view_files", "property_tab_view_notes", "all_generic_searches", "location_smart_search", "targeted_property_search", "export", "findComps", "findMailingAdd", "importData", "importFile", "interactiveMapClick", "label property", "mapDrawClick", "map marker click", "map satellite view", "map update result when moved click", "parcelResultsListView", "printPDF", "propertyOwnershipRequest", "submit search", "summary card click-through", "tableView"], "textposition": "bottom", "name": "2017-06-01", "visible": true}], {"title": "Feature Audit for All", "hovermode": "closest", "xaxis": {"title": "Adoption", "ticklen": 5, "zeroline": false, "gridwidth": 2}, "yaxis": {"title": "Frequency", "ticklen": 5, "gridwidth": 2}, "showlegend": true}, {"showLink": false, "linkText": "Export to plot.ly"})</script>
        <div class='mySlides' id="84f22b58-f92c-4cee-b3ac-9a29fbf84d14" style="height: 100%; width: 100%;" class="plotly-graph-div"></div><script type="text/javascript">window.PLOTLYENV=window.PLOTLYENV || {};window.PLOTLYENV.BASE_URL="https://plot.ly";Plotly.newPlot("84f22b58-f92c-4cee-b3ac-9a29fbf84d14", [{"type": "scatter", "x": [0.0, 0.0,0.0, 0.228, 0.0, 0.0, 0.287, 0.0, 0.0, 0.0, 0.0, 0.0, 0.01, 0.653, 0.0, 0.0, 0.0, 0.0, 0.327, 0.683, 0.703, 0.881, 0.0, 0.0, 0.0, 0.0, 0.0, 0.03, 0.0, 0.743, 0.0, 0.0, 0.238, 0.0, 0.366, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], "y": [0, 0, 0, 4.086956521739131, 0, 0, 2.0689655172413794, 0, 0, 0, 0, 0, 3.0, 31.348484848484848, 0, 0, 0, 0, 4.848484848484849, 13.666666666666666, 27.591549295774648, 24.46067415730337, 0, 0, 0, 0, 0, 1.6666666666666667, 0, 67.48, 0, 0, 14.5, 0, 9.837837837837839, 0, 0, 0, 0, 0, 0], "mode": "markers+text", "text": ["addToList", "listCreated", "searchCharac", "searchAsset", "searchDebt", "searchLocation", "searchOwnership", "searchSales", "viewBuilding", "viewSales", "viewTax", "viewDebt", "property_tab_view_ownership", "advancedSearch (all except searchownership)", "ownershipPortfolioSearch", "Viewed parcel page", "address search", "bulkContactsRequest", "bulkLabel", "property_tab_view_files", "property_tab_view_notes", "all_generic_searches", "location_smart_search", "targeted_property_search", "export", "findComps", "findMailingAdd", "importData", "importFile", "interactiveMapClick", "label property", "mapDrawClick", "map marker click", "map satellite view", "map update result when moved click", "parcelResultsListView", "printPDF", "propertyOwnershipRequest", "submit search", "summary card click-through", "tableView"], "textposition": "bottom", "name": "2017-07-01", "visible": true}], {"title": "Feature Audit for All", "hovermode": "closest", "xaxis": {"title": "Adoption", "ticklen": 5, "zeroline": false, "gridwidth": 2}, "yaxis": {"title": "Frequency","ticklen": 5, "gridwidth": 2}, "showlegend": true}, {"showLink": false, "linkText": "Export to plot.ly"})</script>
        <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
    </body>
    <script>
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            if (n > x.length) {slideIndex = 1} 
            if (n < 1) {slideIndex = x.length} ;
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none"; 
            }
            x[slideIndex-1].style.display = "block"; 
        }
    </script>
</html>