{% extends "layout.html" %} {% block nav_featureaudit %}class = "w3-bar-item w3-button w3-padding w3-blue"{% endblock %}
{% block content_after_main %}

<div id= "feature_audit_chart_and_forms"class="w3-container w3-padding">
    <h3>Feature Audit</h3>
    <p>Data retrieved from Mixpanel. Filter panel on the right.</p>
    <div class="w3-container w3-padding w3-twothird">{{feature_audit_chart | safe}}</div>
    <div class="w3-container w3-padding w3-rest">            
        <div class="w3-container" style="background-color:lightsteelblue">
            <h3>Types of filters</h3>
            <p>(All filters are optional)</p>
            
            <h5>Selected segment: <b style="color:darkred">{{selected_segment}}</b></h5>
            <h5>Selected months for comparison: <b style="color:darkred">{{month1}} </b>and <b style="color:darkred">{{month2}}</b></h5>
            <h5>Selected events: <b style="color:darkred">{{selected_events}}</b></h5>
            <form action="" method="POST">
                <div id="segment">
                    <p>Select Segment:</p>
                    <select name = "segment">
                        <option value="" selected="selected" >All</option>
                        <option value="Appraiser/Researcher ">Appraiser/Researcher </option>
                        <option value="Appraiser">Appraiser</option>
                        <option value="Energy">Energy</option>
                        <option value="Facilities Services">Facilities Services</option>
                        <option value="Investor/Developer">Investor/Developer</option>
                        <option value="Investor/Developer - Professional">Investor/Developer - Professional</option>
                        <option value="Investor/Developer - Hobbyist">Investor/Developer - Hobbyist</option>
                        <option value="Leasing Broker">Leasing Broker</option>
                        <option value="Lender/Debt Broker">Lender/Debt Broker</option>
                        <option value="Other">Other</option>
                        <option value="Research">Research</option>
                        <option value="Sales Broker">Sales Broker</option>
                        <option value="Tax Services">Tax Services</option>
                        <option value="Debt Broker">Debt Broker</option>
                        <option value="Property Manager">Property Manager</option>
                        <option value="Lender - Underwriting">Lender - Underwriting</option>
                    </select>
                </div>
                
                <div id="events" class="w3-padding" >
                    <p>Select Events:</p>
                    <select name = "choose_events">
                        <option value="all_events" selected="selected">All Events</option>
                        <option value="essential_events">Only Essential Events</option>
                    </select>
                </div>

                <div id="comparison" class = "w3-padding">
                    <p>Compare between months:</p>
                    <h6>Enter in the following format: YYYY-MM-01</h6>
                    <input type="text" name="month1" placeholder="2018-01-01"> and 
                    <input type="text" name="month2" placeholder="2018-04-01">   
                </div>
                <input type="submit" value="Submit">

            </form>  
        </div>
    </div>

    <div id = "table_count_users_for_idv_event" class="w3-container w3-padding">
        <h5>Table for Number of Users for Each Event</h5>
        {{table_num_users_for_each_event | safe}}
    </div>
    <!--
    <div id = "idv monthly reports"class="w3-row-padding w3-twothird">
        <h5>Feature Audit Directory</h5>
        <ul class='w3-ul'>
            <li>
                <a href="#" class="w3-btn w3-small w3-black">Mar 2018 Report</a>
                <a href="/feb2018featureaudit.html" class="w3-btn w3-small w3-black">Feb 2018 Report</a>
                <a href="#" class="w3-btn w3-small w3-black">Jan 2018 Report</a>
                <a href="#" class="w3-btn w3-small w3-black">Dec 2017 Report</a>
            </li>

        </ul>

    </div>

    <div id="event_list_description" class="w3-row-padding w3-twothird">
        <h6>Event Names with Description</h6>
        <a href='https://github.com/reonomy/visage/blob/master/analytics.md'>For More Event Names and Descriptions</a>
        <table border="1" class="dataframe w3-table w3-white w3-hoverable w3-medium">
            <thead>
                <tr style="text-align: right;">
                    <th>Event</th>

                    <th>Description</th>

                    <th>Events on mixpanel</th>

                </tr>

            </thead>
            <tbody>	
                <tr>
                    <td>address_search_all</td>
                    <td>search by address</td>
                    <td>address search</td>
                </tr>
                <tr>
                    <td>sourcing</td>
                    <td>search by characteristics, asset, debt or location</td>
                    <td>search tab view characteristics, search tab view asset, search tab view debt, search tab view location</td>
                </tr>
                <tr>
                    <td>ownershipPortfolioSearch</td>
                    <td>search by ownership + find ownership mailing address</td>
                    <td>search tab view ownership + find ownership mailing address</td>
                </tr>
                <tr>
                    <td>page_link</td>
                    <td>viewed parcel page</td>
                    <td>viewed parcel page</td>
                </tr>
                <tr>
                    <td>bulk_contacts</td>
                    <td>Unlock contacts in bulk</td>
                    <td>bulk contact request</td>
                </tr>
                <tr>
                    <td>export</td>
                    <td>export contact details to csv/excel</td>
                    <td>export</td>
                </tr>
                <tr>
                    <td>map_draw</td>
                    <td>radius/polygon search</td>
                    <td>map_draw_click</td>
                </tr>
                <tr>
                    <td>map marker click</td>
                    <td>click on map</td>
                    <td>map marker click</td>
                </tr>
                <tr>
                    <td>map satellite view</td>
                    <td>view map in satellite view</td>
                    <td>map satellite view</td>
                </tr>
                <tr>
                    <td>propertyOwnershipRequest</td>
                    <td>click \'get contact\'</td>
                    <td>property ownership request</td>
                </tr>
                <tr>
                    <td>tableView</td>
                    <td>view properties in table format</td>
                    <td>table view</td>
                </tr>
                <tr>
                    <td>board</td>
                    <td>did anything on the platform at least once</td>
                    <td>board</td>
                </tr>
                <tr>
                    <td>printPDF</td>
                    <td>hit the printPDF button</td>
                    <td>print property details</td>
                </tr>
            </tbody>
        </table>
    </div>
    -->

    
{% endblock %}