{% extends "layout.html" %} {% block nav_featureaudit %}class = "w3-bar-item w3-button w3-padding w3-blue"{% endblock %}
{% block content_after_main %}
   
    <div class="w3-row-padding w3-twothird">
        <h5>February 2017</h5>
        <div class="w3-bar w3-black">
            <button class="w3-bar-item w3-button tablink w3-blue" onclick="changeTabs(event,'Chart')">Full Feature Audit (All Segments)</button>
            <button class="w3-bar-item w3-button tablink" onclick="changeTabs(event,'Table')">Simplied Feature Audit (2 Buckets)</button>
        </div>

        <div id="Chart" class="w3-container type">
            <p>Explore further by clicking on the dots in the legend to show/hide certain segments.</p>
            <iframe width="1000px" height="800px" frameborder="0" seamless="seamless" scrolling="no" src="https://plot.ly/~breadplop/74.embed"></iframe>
            <p>Click the link
                <a href='https://plot.ly/~breadplop/74/#data'>here</a> to view the data in table format.</p>

            <div class="w3-row-padding w3-twothird">
                <h5>Unique Number of Users</h5>
                <p>The table below shows the number of users.</p>
                <p><b>Click on the headers to sort by asc/desc</b></p>

                <div style="width:1100px; overflow:scroll;">
                    <table id="myTable" border="1" class="sortable dataframe w3-table w3-striped w3-white w3-row-padding w3-medium">
                        <thead>
                            <tr style="text-align: right;">
                            <th>Unnamed: 0</th>
                            <th>All</th>
                            <th>Sales Broker</th>
                            <th>Service Provider</th>
                            <th>Investor/Developer - Professional</th>
                            <th>Other</th>
                            <th>Investor/Developer - Hobbyist</th>
                            <th>undefined</th>
                            <th>Research</th>
                            <th>Lender - Origination</th>
                            <th>Appraiser</th>
                            <th>Debt Broker</th>
                            <th>Property Manager</th>
                            <th>Leasing Broker</th>
                            <th>Lender - Underwriting</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>addToList</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            </tr>
                            <tr>
                            <td>listCreated</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            </tr>
                            <tr>
                            <td>searchCharac</td>
                            <td>286</td>
                            <td>67</td>
                            <td>14</td>
                            <td>45</td>
                            <td>36</td>
                            <td>7</td>
                            <td>0</td>
                            <td>25</td>
                            <td>12</td>
                            <td>21</td>
                            <td>7</td>
                            <td>7</td>
                            <td>3</td>
                            <td>0</td>
                            </tr>
                            <tr>
                            <td>searchAsset</td>
                            <td>354</td>
                            <td>91</td>
                            <td>18</td>
                            <td>58</td>
                            <td>44</td>
                            <td>7</td>
                            <td>0</td>
                            <td>30</td>
                            <td>15</td>
                            <td>23</td>
                            <td>7</td>
                            <td>8</td>
                            <td>3</td>
                            <td>1</td>
                            </tr>
                            <tr>
                            <td>searchDebt</td>
                            <td>161</td>
                            <td>32</td>
                            <td>7</td>
                            <td>29</td>
                            <td>15</td>
                            <td>5</td>
                            <td>0</td>
                            <td>13</td>
                            <td>11</td>
                            <td>3</td>
                            <td>6</td>
                            <td>4</td>
                            <td>3</td>
                            <td>0</td>
                            </tr>
                            <tr>
                            <td>searchLocation</td>
                            <td>298</td>
                            <td>78</td>
                            <td>12</td>
                            <td>46</td>
                            <td>36</td>
                            <td>7</td>
                            <td>0</td>
                            <td>28</td>
                            <td>14</td>
                            <td>18</td>
                            <td>8</td>
                            <td>8</td>
                            <td>1</td>
                            <td>0</td>
                            </tr>
                            <tr>
                            <td>searchOwnership</td>
                            <td>217</td>
                            <td>50</td>
                            <td>14</td>
                            <td>36</td>
                            <td>25</td>
                            <td>6</td>
                            <td>0</td>
                            <td>21</td>
                            <td>12</td>
                            <td>7</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>0</td>
                            </tr>
                            <tr>
                            <td>searchSales</td>
                            <td>238</td>
                            <td>54</td>
                            <td>11</td>
                            <td>40</td>
                            <td>24</td>
                            <td>7</td>
                            <td>0</td>
                            <td>20</td>
                            <td>11</td>
                            <td>22</td>
                            <td>5</td>
                            <td>5</td>
                            <td>3</td>
                            <td>1</td>
                            </tr>
                            <tr>
                            <td>viewBuilding</td>
                            <td>449</td>
                            <td>133</td>
                            <td>15</td>
                            <td>80</td>
                            <td>49</td>
                            <td>14</td>
                            <td>0</td>
                            <td>41</td>
                            <td>16</td>
                            <td>24</td>
                            <td>9</td>
                            <td>7</td>
                            <td>6</td>
                            <td>1</td>
                            </tr>
                            <tr>
                            <td>viewSales</td>
                            <td>465</td>
                            <td>131</td>
                            <td>15</td>
                            <td>89</td>
                            <td>56</td>
                            <td>15</td>
                            <td>0</td>
                            <td>39</td>
                            <td>15</td>
                            <td>25</td>
                            <td>9</td>
                            <td>8</td>
                            <td>6</td>
                            <td>0</td>
                            </tr>
                            <tr>
                            <td>viewTax</td>
                            <td>362</td>
                            <td>98</td>
                            <td>12</td>
                            <td>76</td>
                            <td>38</td>
                            <td>13</td>
                            <td>0</td>
                            <td>31</td>
                            <td>14</td>
                            <td>16</td>
                            <td>8</td>
                            <td>6</td>
                            <td>5</td>
                            <td>0</td>
                            </tr>
                            <tr>
                            <td>viewDebt</td>
                            <td>403</td>
                            <td>110</td>
                            <td>13</td>
                            <td>80</td>
                            <td>47</td>
                            <td>13</td>
                            <td>0</td>
                            <td>33</td>
                            <td>16</td>
                            <td>19</td>
                            <td>11</td>
                            <td>6</td>
                            <td>5</td>
                            <td>1</td>
                            </tr>
                            <tr>
                            <td>property_tab_view_ownership</td>
                            <td>541</td>
                            <td>163</td>
                            <td>23</td>
                            <td>96</td>
                            <td>62</td>
                            <td>15</td>
                            <td>0</td>
                            <td>45</td>
                            <td>17</td>
                            <td>25</td>
                            <td>11</td>
                            <td>9</td>
                            <td>7</td>
                            <td>1</td>
                            </tr>
                            <tr>
                            <td>property_tab_view_files</td>
                            <td>303</td>
                            <td>75</td>
                            <td>12</td>
                            <td>59</td>
                            <td>34</td>
                            <td>12</td>
                            <td>0</td>
                            <td>27</td>
                            <td>12</td>
                            <td>17</td>
                            <td>7</td>
                            <td>5</td>
                            <td>4</td>
                            <td>1</td>
                            </tr>
                            <tr>
                            <td>property_tab_view_notes</td>
                            <td>348</td>
                            <td>93</td>
                            <td>14</td>
                            <td>65</td>
                            <td>39</td>
                            <td>13</td>
                            <td>0</td>
                            <td>29</td>
                            <td>14</td>
                            <td>18</td>
                            <td>9</td>
                            <td>6</td>
                            <td>4</td>
                            <td>1</td>
                            </tr>
                            <tr>
                            <td>all_generic_searches</td>
                            <td>599</td>
                            <td>176</td>
                            <td>26</td>
                            <td>104</td>
                            <td>70</td>
                            <td>17</td>
                            <td>0</td>
                            <td>48</td>
                            <td>19</td>
                            <td>29</td>
                            <td>14</td>
                            <td>10</td>
                            <td>6</td>
                            <td>1</td>
                            </tr>
                            <tr>
                            <td>location_smart_search</td>
                            <td>189</td>
                            <td>47</td>
                            <td>10</td>
                            <td>43</td>
                            <td>21</td>
                            <td>4</td>
                            <td>0</td>
                            <td>14</td>
                            <td>4</td>
                            <td>9</td>
                            <td>5</td>
                            <td>3</td>
                            <td>2</td>
                            <td>0</td>
                            </tr>
                            <tr>
                            <td>targeted_property_search</td>
                            <td>440</td>
                            <td>138</td>
                            <td>19</td>
                            <td>74</td>
                            <td>53</td>
                            <td>12</td>
                            <td>0</td>
                            <td>37</td>
                            <td>13</td>
                            <td>13</td>
                            <td>10</td>
                            <td>7</td>
                            <td>6</td>
                            <td>1</td>
                            </tr>
                            <tr>
                            <td>sourcing</td>
                            <td>385</td>
                            <td>99</td>
                            <td>19</td>
                            <td>63</td>
                            <td>48</td>
                            <td>8</td>
                            <td>0</td>
                            <td>36</td>
                            <td>15</td>
                            <td>24</td>
                            <td>8</td>
                            <td>8</td>
                            <td>3</td>
                            <td>1</td>
                            </tr>
                            <tr>
                            <td>ownershipPortfolioSearch</td>
                            <td>281</td>
                            <td>74</td>
                            <td>15</td>
                            <td>48</td>
                            <td>34</td>
                            <td>8</td>
                            <td>0</td>
                            <td>26</td>
                            <td>12</td>
                            <td>7</td>
                            <td>4</td>
                            <td>4</td>
                            <td>5</td>
                            <td>0</td>
                            </tr>
                            <tr>
                            <td>page_link</td>
                            <td>115</td>
                            <td>26</td>
                            <td>9</td>
                            <td>22</td>
                            <td>16</td>
                            <td>3</td>
                            <td>0</td>
                            <td>8</td>
                            <td>4</td>
                            <td>5</td>
                            <td>3</td>
                            <td>2</td>
                            <td>2</td>
                            <td>0</td>
                            </tr>
                            <tr>
                            <td>address search</td>
                            <td>420</td>
                            <td>131</td>
                            <td>18</td>
                            <td>69</td>
                            <td>53</td>
                            <td>11</td>
                            <td>0</td>
                            <td>36</td>
                            <td>13</td>
                            <td>12</td>
                            <td>10</td>
                            <td>6</td>
                            <td>6</td>
                            <td>1</td>
                            </tr>
                            <tr>
                            <td>bulk_contacts</td>
                            <td>97</td>
                            <td>27</td>
                            <td>10</td>
                            <td>8</td>
                            <td>11</td>
                            <td>2</td>
                            <td>0</td>
                            <td>5</td>
                            <td>6</td>
                            <td>0</td>
                            <td>3</td>
                            <td>2</td>
                            <td>2</td>
                            <td>0</td>
                            </tr>
                            <tr>
                            <td>bulkLabel</td>
                            <td>36</td>
                            <td>13</td>
                            <td>2</td>
                            <td>4</td>
                            <td>5</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td>0</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>0</td>
                            </tr>
                            <tr>
                            <td>export</td>
                            <td>141</td>
                            <td>42</td>
                            <td>13</td>
                            <td>15</td>
                            <td>14</td>
                            <td>2</td>
                            <td>0</td>
                            <td>14</td>
                            <td>6</td>
                            <td>5</td>
                            <td>5</td>
                            <td>2</td>
                            <td>2</td>
                            <td>0</td>
                            </tr>
                            <tr>
                            <td>findComps</td>
                            <td>136</td>
                            <td>44</td>
                            <td>2</td>
                            <td>22</td>
                            <td>13</td>
                            <td>5</td>
                            <td>0</td>
                            <td>8</td>
                            <td>6</td>
                            <td>13</td>
                            <td>3</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            </tr>
                            <tr>
                            <td>findMailingAdd</td>
                            <td>135</td>
                            <td>40</td>
                            <td>6</td>
                            <td>27</td>
                            <td>21</td>
                            <td>4</td>
                            <td>0</td>
                            <td>7</td>
                            <td>2</td>
                            <td>0</td>
                            <td>2</td>
                            <td>3</td>
                            <td>3</td>
                            <td>0</td>
                            </tr>
                            <tr>
                            <td>importData</td>
                            <td>12</td>
                            <td>5</td>
                            <td>1</td>
                            <td>0</td>
                            <td>3</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td>0</td>
                            <td>0</td>
                            </tr>
                            <tr>
                            <td>importFile</td>
                            <td>16</td>
                            <td>7</td>
                            <td>1</td>
                            <td>0</td>
                            <td>4</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td>0</td>
                            <td>0</td>
                            </tr>
                            <tr>
                            <td>interactiveMapClick</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            </tr>
                            <tr>
                            <td>label property</td>
                            <td>116</td>
                            <td>41</td>
                            <td>7</td>
                            <td>22</td>
                            <td>15</td>
                            <td>2</td>
                            <td>0</td>
                            <td>1</td>
                            <td>4</td>
                            <td>0</td>
                            <td>1</td>
                            <td>3</td>
                            <td>2</td>
                            <td>0</td>
                            </tr>
                            <tr>
                            <td>mapDraw</td>
                            <td>158</td>
                            <td>35</td>
                            <td>13</td>
                            <td>30</td>
                            <td>17</td>
                            <td>2</td>
                            <td>0</td>
                            <td>12</td>
                            <td>6</td>
                            <td>13</td>
                            <td>3</td>
                            <td>2</td>
                            <td>1</td>
                            <td>0</td>
                            </tr>
                            <tr>
                            <td>map marker click</td>
                            <td>459</td>
                            <td>138</td>
                            <td>21</td>
                            <td>81</td>
                            <td>48</td>
                            <td>14</td>
                            <td>0</td>
                            <td>34</td>
                            <td>15</td>
                            <td>24</td>
                            <td>6</td>
                            <td>9</td>
                            <td>7</td>
                            <td>1</td>
                            </tr>
                            <tr>
                            <td>map satellite view</td>
                            <td>202</td>
                            <td>57</td>
                            <td>12</td>
                            <td>44</td>
                            <td>30</td>
                            <td>1</td>
                            <td>0</td>
                            <td>16</td>
                            <td>2</td>
                            <td>8</td>
                            <td>4</td>
                            <td>3</td>
                            <td>3</td>
                            <td>0</td>
                            </tr>
                            <tr>
                            <td>map update results when moved click</td>
                            <td>70</td>
                            <td>15</td>
                            <td>4</td>
                            <td>18</td>
                            <td>11</td>
                            <td>1</td>
                            <td>0</td>
                            <td>2</td>
                            <td>2</td>
                            <td>4</td>
                            <td>0</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            </tr>
                            <tr>
                            <td>parcelResultsListView</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            </tr>
                            <tr>
                            <td>print property details</td>
                            <td>123</td>
                            <td>35</td>
                            <td>7</td>
                            <td>18</td>
                            <td>10</td>
                            <td>2</td>
                            <td>0</td>
                            <td>16</td>
                            <td>3</td>
                            <td>14</td>
                            <td>1</td>
                            <td>0</td>
                            <td>1</td>
                            <td>0</td>
                            </tr>
                            <tr>
                            <td>propertyOwnershipRequest</td>
                            <td>388</td>
                            <td>126</td>
                            <td>20</td>
                            <td>64</td>
                            <td>48</td>
                            <td>11</td>
                            <td>0</td>
                            <td>28</td>
                            <td>13</td>
                            <td>2</td>
                            <td>8</td>
                            <td>8</td>
                            <td>7</td>
                            <td>0</td>
                            </tr>
                            <tr>
                            <td>submit search</td>
                            <td>524</td>
                            <td>148</td>
                            <td>23</td>
                            <td>90</td>
                            <td>63</td>
                            <td>15</td>
                            <td>0</td>
                            <td>43</td>
                            <td>17</td>
                            <td>29</td>
                            <td>13</td>
                            <td>7</td>
                            <td>6</td>
                            <td>1</td>
                            </tr>
                            <tr>
                            <td>summary card click-through</td>
                            <td>364</td>
                            <td>105</td>
                            <td>20</td>
                            <td>61</td>
                            <td>44</td>
                            <td>9</td>
                            <td>0</td>
                            <td>32</td>
                            <td>11</td>
                            <td>20</td>
                            <td>8</td>
                            <td>8</td>
                            <td>4</td>
                            <td>1</td>
                            </tr>
                            <tr>
                            <td>tableView</td>
                            <td>198</td>
                            <td>52</td>
                            <td>12</td>
                            <td>30</td>
                            <td>25</td>
                            <td>4</td>
                            <td>0</td>
                            <td>21</td>
                            <td>6</td>
                            <td>13</td>
                            <td>4</td>
                            <td>2</td>
                            <td>2</td>
                            <td>0</td>
                            </tr>
                            <tr>
                            <td>Board</td>
                            <td>655</td>
                            <td>188</td>
                            <td>28</td>
                            <td>110</td>
                            <td>72</td>
                            <td>21</td>
                            <td>0</td>
                            <td>52</td>
                            <td>22</td>
                            <td>33</td>
                            <td>15</td>
                            <td>10</td>
                            <td>9</td>
                            <td>1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        <div id="Table" class="w3-container type" style="display:none">
            <iframe width="1000px" height="800px" frameborder="0" seamless="seamless" scrolling="no" src="//plot.ly/~breadplop/72.embed"></iframe>
            <p>Click the link
                <a href='https://plot.ly/~breadplop/72/#data'>here</a> to view the data in table format.</p>
            <div style="width:1100px; overflow:scroll;">
                <table id = "myTable" border="2" class="dataframe sortable dataframe w3-table w3-striped w3-white w3-row-padding">
                    <thead>
                        <tr style="text-align: right;">
                        <th></th>
                        <th>address_search_all</th>
                        <th>sourcing</th>
                        <th>ownershipPortfolioSearch</th>
                        <th>page_link</th>
                        <th>bulk_contacts</th>
                        <th>export</th>
                        <th>map_draw</th>
                        <th>map marker click</th>
                        <th>map satellite view</th>
                        <th>propertyOwnershipRequest</th>
                        <th>tableView</th>
                        <th>board</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <th>SP/Other</th>
                        <td>72</td>
                        <td>68</td>
                        <td>50</td>
                        <td>25</td>
                        <td>21</td>
                        <td>28</td>
                        <td>30</td>
                        <td>69</td>
                        <td>42</td>
                        <td>68</td>
                        <td>38</td>
                        <td>112</td>
                        </tr>
                        <tr>
                        <th>Cre_core</th>
                        <td>368</td>
                        <td>317</td>
                        <td>231</td>
                        <td>90</td>
                        <td>76</td>
                        <td>113</td>
                        <td>128</td>
                        <td>390</td>
                        <td>160</td>
                        <td>320</td>
                        <td>160</td>
                        <td>543</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}