{% extends "layout.html" %}
{% block nav_contactutilization %}class = "w3-bar-item w3-button w3-padding w3-blue"{% endblock %}

{% block content_after_main %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <div class="w3-row-padding">
        <h1>Contact and Export Utilization Rate</h1>
        <p>Data retrieved from visage. Numbers in the tables are in <b class="w3-opacity w3-indigo">real-time</b></p>
    </div>

    <div id = "Contact2" class="w3-container type w3-row-padding w3-responsive">
        <h3>Contact Utilization Rate</h3>
        <form action="" method="POST">
            Pick Segment:
            <select name = "segment">
                <option value="" selected="selected"></option>
                <option value="Sales Broker">Sales Broker</option>
                <option value="Service Provider">Service Provider</option>
                <option value="Investor/Developer - Professional">Investor/Developer - Professional</option>
                <option value="Other">Other</option>
                <option value="Investor/Developer - Hobbyist">Investor/Developer - Hobbyist</option>
                <option value="undefined ">undefined </option>
                <option value="Research ">Research </option>
                <option value="Lender - Origination">Lender - Origination</option>
                <option value="Appraiser">Appraiser</option>
                <option value="Debt Broker">Debt Broker</option>
                <option value="Property Manager">Property Manager</option>
                <option value="Leasing Broker">Leasing Broker</option>
                <option value="Lender - Underwriting">Lender - Underwriting</option>
            </select>
            <input type="submit" value="Submit">
        </form>
        {{contact_table | safe}}
        <div class = "w3-row-padding">
            <div style="width:70%; height:70%">{{linechart_contact| safe}}</div>
        </div>

    </div>

    <div id = "Export2" class="w3-container type w3-row-padding w3-responsive"  >
        <h3>Export Utilization Rate</h3>
        <form action="" method="POST">
            Pick segment:
            <select name = "segment">
                <option value="" selected="selected"></option>
                <option value="Sales Broker" >Sales Broker</option>
                <option value="Service Provider">Service Provider</option>
                <option value="Investor/Developer - Professional">Investor/Developer - Professional</option>
                <option value="Other">Other</option>
                <option value="Investor/Developer - Hobbyist">Investor/Developer - Hobbyist</option>
                <option value="undefined ">undefined </option>
                <option value="Research ">Research </option>
                <option value="Lender - Origination">Lender - Origination</option>
                <option value="Appraiser">Appraiser</option>
                <option value="Debt Broker">Debt Broker</option>
                <option value="Property Manager">Property Manager</option>
                <option value="Leasing Broker">Leasing Broker</option>
                <option value="Lender - Underwriting">Lender - Underwriting</option>
            </select>
            <input type="submit" value="Submit">
        </form>            
        {{export_table | safe}}     
        <div class = "w3-row-padding">
          <div style="width:70%; height:70%">{{linechart_export | safe}}</div>
        </div>

    </div> 
    <!--
    <div class="w3-container type w3-row-padding w3-responsive">
        <p>
            Potential issues: wont be able to access visage if i host this on heroku. will have to save the data somewhere? meaning: create separate 
            contact_table and export_table html files. and then use {\% include contact_table } instead of { \{ contact_table} \}
        </p>
        <div style="width:70%; height:70%">{{linechart_contact| safe}}</div>
        <div style="width:70%; height:70%">{{linechart_export | safe}}</div>
        <p>room for improvement: to save and store data somewhere so that i wouldnt have to query everytime i click. CACHE DATA SOMEWHERE AND INCLUDE REFRESH BUTTON</p>
    </div>
    -->


{% endblock %}