{% extends "layout.html" %}
{% block nav_contactutilization %}class = "w3-bar-item w3-button w3-padding w3-blue"{% endblock %}

{% block content_after_main %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <div class="w3-row-padding">
        <h2>{{type}} Utilization for <b>{{selected_segment}}</b></h2>
        {{insert_table | safe}}
        <div style="width:70%; height:70%">
            {{htmlfilename_contact | safe}}
        </div>
        

    </div>
    
    <div class="w3-row-padding">
            <h2>{{type2}} Utilization for <b>{{selected_segment}}</b></h2>
            {{insert_table2 | safe}}
            <div style="width:70%; height:70%">
                {{htmlfilename_export | safe}}
            </div>
    </div>
{% endblock %}

