{% extends "layout.html" %}
{% block nav_mauwaudau %}class = "w3-bar-item w3-button w3-padding w3-blue"{% endblock %}

{% block content %}
<h1>Stickiness Ratio - User Activity</h1>
<p>Data retrieved from Mixpanel</p>
<p>Logic seems flawed. to look at helper function and investigate why</p>
<p>to manually count it for dec, jan and feb. and then try aagin</p>

{{insert_mauwaudau_table |safe}}


{% endblock %}