{% extends "layout.html" %}
{% block nav_home %}class = "w3-bar-item w3-button w3-padding w3-blue"{% endblock %}

{% block content %}
  <h1>Product Metrics</h1>
  <p class="important">
    This is the homepage.
  </p>
  <!--
  <button class='w3-btn w3-black'><a href='/exec'>invoke helloworld addition</a></button>
  Calculator result = {{result}}
  -->
{% endblock %}