<html>
    <head>
        <link
            href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css"
            rel="stylesheet" type="text/css">
        <link
            href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.css"
            rel="stylesheet" type="text/css">

        <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script>
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.js"></script>
        <script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.15.min.js"></script>

        {{ js_resources|indent(4)|safe }}

        {{ css_resources|indent(4)|safe }}

    </head>
    <body>
        <H1>Iris Histogram</H1>

        <form action="/">
            <select name="feature_name">
                {% for feature in feature_names %}
                    {% if feature == current_feature_name %}
                        <option selected value="{{ feature }}">{{ feature }}</option> 
                    {% else %} 
                        <option value="{{ feature }}">{{ feature }}</option> 
                    {% endif %}
                {% endfor %}
            </select>
            <input type="submit">
        </form>

        <a href="/child.html">click here for index2</a>
        <a href="/feb2018featureaudit.html">click here for febfeatureaudit</a>

        {{ script|safe }}
        {{ div|safe }}

    </body>
</html>