<html>
    <head>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src= {{ url_for('static', filename='js/sorttable.js') }}></script>
        <style>
            html,body,h1,h2,h3,h4,h5 {
                font-family: "Raleway", sans-serif
            }
        </style>
    </head>

    <body class="w3-light-grey">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <!-- Top container -->
        <div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
            <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();">
                <i class="fa fa-bars"></i> Menu</button>
            <span class="w3-bar-item w3-right">Product Report</span>
        </div>

        <!-- Sidebar/menu -->
        <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar">
            <br>
            <hr>
            <div class="w3-container">
                <h5>List of Reports</h5>
            </div>
            <div class="w3-bar-block">
                <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu">
                    <i class="fa fa-remove fa-fw"></i> Close Menu</a>
                <!--<a href="/child" {% block nav_home %}class= "w3-bar-item w3-button w3-padding "{% endblock %}>
                    <i class="fa fa-users fa-fw"></i> Main Dashboard</a>-->
                <a href="/featureaudit" {% block nav_featureaudit %}class= "w3-bar-item w3-button w3-padding "{% endblock %}>
                    <i class="fa fa-users fa-fw"></i> Feature Audit</a>
                <a href="/stickinessratio" {% block nav_mauwaudau %}class= "w3-bar-item w3-button w3-padding "{% endblock %}>
                    <i class="fa fa-eye fa-fw"></i> Stickiness Ratio</a>
                <!--<a href="/lastseen_All" {% block nav_lastseen %}class= "w3-bar-item w3-button w3-padding "{% endblock %}>
                    <i class="fa fa-eye fa-fw"></i> Engagement Metrics (Last Seen)</a>-->
                <a href="/contactexportutilization" {% block nav_contactutilization %}class= "w3-bar-item w3-button w3-padding "{% endblock %}>
                    <i class="fa fa-users fa-fw"></i> Contact/Export Utilization [done]</a>
                <a href="/cohortanalysis" {% block nav_cohortanalysis %}class= "w3-bar-item w3-button w3-padding "{% endblock %}>
                    <i class="fa fa-cog fa-fw"></i> Cohort Analysis [done]</a>
                <a href="/howtouse" {% block nav_howtouse %}class= "w3-bar-item w3-button w3-padding "{% endblock %}  >
                    <i class="fa fa-cog fa-fw"></i> How to Use</a>
            </div>
        </nav>


        <!-- Content -->
        <div class="w3-main" style="margin-left:300px;margin-top:43px;">
             
             {% block content_after_main %}<div id="content" class="w3-row-padding w3-twothird">{% block content %}{% endblock %}</div>{% endblock %}
        </div>
        
        <!-- Overlay effect when opening sidebar on small screens -->
        <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu"
            id="myOverlay"></div>

        <script>
            // Get the Sidebar
            var mySidebar = document.getElementById("mySidebar");
        
            // Get the DIV with overlay effect
            var overlayBg = document.getElementById("myOverlay");
        
            // Toggle between showing and hiding the sidebar, and add overlay effect
            function w3_open() {
                if (mySidebar.style.display === 'block') {
                    mySidebar.style.display = 'none';
                    overlayBg.style.display = "none";
                } else {
                    mySidebar.style.display = 'block';
                    overlayBg.style.display = "block";
                }
            }
        
            // Close the sidebar with the close button
            function w3_close() {
                mySidebar.style.display = "none";
                overlayBg.style.display = "none";
            }
        
            //script to navigate between tabs
            function changeTabs(evt, tabName) {
                var i, x, tablinks;
                x = document.getElementsByClassName("type");
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablink");
                for (i = 0; i < x.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" w3-blue", "");
                }
                document.getElementById(tabName).style.display = "block";
                evt.currentTarget.className += " w3-blue";
            }
        
            //script to sort table
            function sortTable(n) {
                var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
                table = document.getElementById("myTable");
                switching = true;
                //Set the sorting direction to ascending:
                dir = "asc";
                /*Make a loop that will continue until
                no switching has been done:*/
                while (switching) {
                    //start by saying: no switching is done:
                    switching = false;
                    rows = table.getElementsByTagName("TR");
                    /*Loop through all table rows (except the
                    first, which contains table headers):*/
                    for (i = 1; i < (rows.length - 1); i++) {
                        //start by saying there should be no switching:
                        shouldSwitch = false;
                        /*Get the two elements you want to compare,
                        one from current row and one from the next:*/
                        x = rows[i].getElementsByTagName("TD")[n];
                        y = rows[i + 1].getElementsByTagName("TD")[n];
                        /*check if the two rows should switch place,
                        based on the direction, asc or desc:*/
                        if (dir == "asc") {
                            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            //if so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                            }
                        } else if (dir == "desc") {
                            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            //if so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                            }
                        }
                    }
                    if (shouldSwitch) {
                        /*If a switch has been marked, make the switch
                        and mark that a switch has been done:*/
                        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                        switching = true;
                        //Each time a switch is done, increase this count by 1:
                        switchcount++;
                    } else {
                    /*If no switching has been done AND the direction is "asc",
                    set the direction to "desc" and run the while loop again.*/
                    if (switchcount == 0 && dir == "asc") {
                            dir = "desc";
                            switching = true;
                        }
                    }
                }
            }
        
        </script>
    </body>

</html>