{% extends "layout.html" %}
{% block nav_cohortanalysis %}class = "w3-bar-item w3-button w3-padding w3-blue"{% endblock %}

{% block content_after_main %}
    <div class="w3-row-padding">
        <form action="/cohortanalysis" method="POST" ><button class='w3-btn w3-black w3-small' type='submit' name='refresh' value='true'>Refresh data</button></form>
        <p>{{updatedat}}</p>
        <!-- MRR COHORT ANALYSIS -->
        <div class = 'w3-row'>
            <div class = 'w3-col m12 l12'><h2>Cohort Analysis by MRR</h2><p>Click on image to display fullsize. i changed file name to 11test.png. file is still showing this is weird</p></div>
        </div>
        <div class = 'w3-row'>
            <div class = 'w3-col m6 l6'><h5 align = center>MRR</h5></div>
            <div class = 'w3-col m6 l6'><h5 align= center>MRR by Number of Onboarding Month</h5></div>
        </div>          
        <div class = 'w3-row'>
            <div class = 'w3-col m6 l6'>
                <img src= " {{ url_for('static', filename='img/cohortanalysis2/11.png') }} " style="width:100%;cursor:zoom-in"
                onclick="document.getElementById('11').style.display='block'">
                
                
                <div id="11" class="w3-modal" onclick="this.style.display='none'">
                    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                    <div class="w3-modal-content w3-animate-zoom">
                    <img src= " {{ url_for('static', filename='img/cohortanalysis2/11.png') }} " style="width:135%">
                    </div>
                </div>
            </div>

            <div class = 'w3-col m6 l6'>
                <img src= "{{ url_for('static', filename='img/cohortanalysis2/21.png') }}" style="width:100%;cursor:zoom-in"
                onclick="document.getElementById('21').style.display='block'">
                
                <div id="21" class="w3-modal" onclick="this.style.display='none'">
                    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                    <div class="w3-modal-content w3-animate-zoom">
                    <img src= " {{ url_for('static', filename='img/cohortanalysis2/21.png') }} "style="width:135%">
                    </div>
                </div>
            </div>
        </div>
        <div class = 'w3-row'>
            <div class = 'w3-col m6 l6'>
                <img src= "{{ url_for('static', filename='img/cohortanalysis2/11percent.png') }}" style="width:100%;cursor:zoom-in"
                onclick="document.getElementById('11percent').style.display='block'">
                
                <div id="11percent" class="w3-modal" onclick="this.style.display='none'">
                    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                    <div class="w3-modal-content w3-animate-zoom">
                    <img src= "{{ url_for('static', filename='img/cohortanalysis2/11percent.png') }}"style="width:135%">
                    </div>
                </div>
            </div>

            <div class = 'w3-col m6 l6'>
                <img src= "{{ url_for('static', filename='img/cohortanalysis2/21percent.png') }}"style="width:100%;cursor:zoom-in"
                onclick="document.getElementById('21percent').style.display='block'">
                
                <div id="21percent" class="w3-modal" onclick="this.style.display='none'">
                    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                    <div class="w3-modal-content w3-animate-zoom">
                    <img src= "{{ url_for('static', filename='img/cohortanalysis2/21percent.png') }}"style="width:135%">
                    </div>
                </div>
            </div>
        </div>
        
        <!-- USER COHORT ANALYSIS -->
        <div class = 'w3-row'>
            <div class = 'w3-col m12 l12'><h2>Cohort Analysis by User</h2><p>Click on image to display fullsize</p></div>
        </div>
        <div class = 'w3-row'>
            <div class = 'w3-col m6 l6'><h5 align = center>User</h5></div>
            <div class = 'w3-col m6 l6'><h5 align= center>User by Number of Onboarding Month</h5></div>
        </div>               
        <div class = 'w3-row'>
            <div class = 'w3-col m6 l6'>
                <img src= "{{ url_for('static', filename='img/cohortanalysis2/12.png') }}"style="width:100%;cursor:zoom-in"
                onclick="document.getElementById('12').style.display='block'"> 
                <div id="12" class="w3-modal" onclick="this.style.display='none'">
                    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                    <div class="w3-modal-content w3-animate-zoom"><img src= "{{ url_for('static', filename='img/cohortanalysis2/12.png') }}"style="width:135%"></div>
                </div>
            </div>
            <div class = 'w3-col m6 l6'>
                <img src= "{{ url_for('static', filename='img/cohortanalysis2/22.png') }}" style="width:100%;cursor:zoom-in"
                onclick="document.getElementById('22').style.display='block'">
                
                <div id="22" class="w3-modal" onclick="this.style.display='none'">
                    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                    <div class="w3-modal-content w3-animate-zoom"><img src= "{{ url_for('static', filename='img/cohortanalysis2/22.png') }}"style="width:135%"></div>
                </div>
            </div>
        </div>
        <div class = 'w3-row'>
            <div class = 'w3-col m6 l6'>
                <img src= "{{ url_for('static', filename='img/cohortanalysis2/12percent.png') }}" style="width:100%;cursor:zoom-in"
                onclick="document.getElementById('12percent').style.display='block'"> 
                <div id="12percent" class="w3-modal" onclick="this.style.display='none'">
                    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                    <div class="w3-modal-content w3-animate-zoom"><img src= "{{ url_for('static', filename='img/cohortanalysis2/12percent.png') }}" style="width:135%"></div>
                </div>
            </div>
            <div class = 'w3-col m6 l6'>
                <img src="{{ url_for('static', filename='img/cohortanalysis2/22percent.png') }}"style="width:100%;cursor:zoom-in"
                onclick="document.getElementById('22percent').style.display='block'">
                
                <div id="22percent" class="w3-modal" onclick="this.style.display='none'">
                    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                    <div class="w3-modal-content w3-animate-zoom"><img src= "{{ url_for('static', filename='img/cohortanalysis2/22percent.png') }}"style="width:135%"></div>
                </div>
            </div>
        </div>


        <!-- COHORT RETENTION CURVES -->
        <div class = 'w3-row'>
            <div class = 'w3-col m12 l12'><h2>Cohort Analysis Retention Curves</h2><p>Click on image to display fullsize</p></div>
        </div>
        <div class = 'w3-row'>
            <div class = 'w3-col m6 l6'><h5 align = center>User</h5></div>
            <div class = 'w3-col m6 l6'><h5 align= center>User by Number of Onboarding Month</h5></div>
        </div>         
        <div class = 'w3-row'>
            <div class = 'w3-col m6 l6'>
                <img src= "{{ url_for('static', filename='img/cohortanalysis2/retention_curves_mrr_cohort_num_onboarding_months_percent_8.png') }}" style="width:80%;cursor:zoom-in"
                onclick="document.getElementById('retentionmrr').style.display='block'">
                
                <div id="retentionmrr" class="w3-modal" onclick="this.style.display='none'">
                    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                    <div class="w3-modal-content w3-animate-zoom">
                    <img src= "{{ url_for('static', filename='img/cohortanalysis2/retention_curves_mrr_cohort_num_onboarding_months_percent_8.png') }}" style="width:100%">
                    </div>
                </div>
            </div>
            
            <div class = 'w3-col m6 l6'>
                <img src= "{{ url_for('static', filename='img/cohortanalysis2/retention_curves_user_cohort_num_onboarding_months_percent_4.png') }}"style="width:80%;cursor:zoom-in"
                onclick="document.getElementById('retentionuser').style.display='block'">
                
                <div id="retentionuser" class="w3-modal" onclick="this.style.display='none'">
                    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                    <div class="w3-modal-content w3-animate-zoom">
                    <img src= "{{ url_for('static', filename='img/cohortanalysis2/retention_curves_user_cohort_num_onboarding_months_percent_4.png') }}"style="width:100%">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function ()
            {
                $('img').on('click', function ()
                {
                    $(this).width(100%);
                });
            });
    </script>

{% endblock %}