{% extends "layout.html" %}
{% block nav_howtouse %}class = "w3-bar-item w3-button w3-padding w3-blue"{% endblock %}

{% block content %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<h1>howtouse</h1>
<h2> testing plotly offline embedding</h2>

<div class="w3-onethird w3-padding" >
    <div id="921c87ca-cef9-4010-babd-e2ff6f96a9da" style="height: 100%; width: 100%;" class="plotly-graph-div"></div><script type="text/javascript">window.PLOTLYENV=window.PLOTLYENV || {};window.PLOTLYENV.BASE_URL="https://plot.ly";Plotly.newPlot("921c87ca-cef9-4010-babd-e2ff6f96a9da", [{"type": "scatter", "x": [1, 2, 3], "y": [3, 1, 6]}], {}, {"showLink": true, "linkText": "Export to plot.ly"})</script>
</div>
{% endblock %}